/* Author Bio widget */
.wpzoom-bio  {
    text-align: center;
}

.wpzoom-bio .meta {
    display: block;
    margin: 0 0 10px;
    font-weight: bold;
    font-size: 20px;
}

.wpzoom-bio .content {
    line-height: 1.8;
}

.wpzoom-bio img {
    margin: 0 0 15px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
