/* Carousel widget */

.widget.carousel-slider, .site-widgetized-section .widgets .widget.carousel-slider {
  position: relative;
}

.widget.carousel-slider .flickity-viewport {
  overflow: hidden;
}

.flickity-enabled {
  position: relative;
}

.carousel-slider {
  .slides {
    white-space: nowrap;
    overflow: hidden;
  }
  .item {
    position: relative;
    white-space: normal;
    margin: 0 2% 0 0;
    width: 23%;
    text-align: center;
    vertical-align: top;
    display: inline-block;
  }
  .flickity-enabled .item {
    margin: 0 2% 0 0;
    width: 23.5%;
    min-height: 350px;
  }
}

.carousel_widget_wrapper > {
  div {
    opacity: 0;
    visibility: hidden;
    transition: opacity .3s ease-in;
    .item {
      display: none;
    }
  }
  .flickity-enabled {
    opacity: 1;
    visibility: visible;
    .item {
      display: inline-block;
    }
  }
}

.carousel-slider {
  .flickity-prev-next-button {
    top: 43%;
    background: none;
    &:hover {
      background: none;
    }
    &.previous {
      left: -55px;
    }
    &.next {
      right: -55px;
    }
    path {
      fill: #333;
      opacity: 1;
      filter: none;
    }
    &:hover path {
      fill: #222;
    }
  }
  .post-thumb {
    margin: 0 0 15px;
  }
  .item {
    .entry-title {
      margin: 0 0 5px;
      font-size: 22px;
      font-weight: 400;

      a {
        font-weight: normal;
     }

    }
    .cat-links {
      margin: 0 0 5px;
    }
  }
  .flickity-page-dots {
    bottom: 0;
    position: relative;
    .dot {
      border: 2px solid #ccc;
      &:hover, &.is-selected {
        background: #555;
        border: 2px solid #555;
      }
    }
  }
  .spinner {
    margin: 100px auto;
    width: 50px;
    height: 30px;
    text-align: center;
    font-size: 10px;
    > div {
      background-color: #eaeaea;
      height: 100%;
      width: 6px;
      display: inline-block;
      -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
      -o-animation: stretchdelay 1.2s infinite ease-in-out;
      animation: stretchdelay 1.2s infinite ease-in-out;
    }
    .rect2 {
      -webkit-animation-delay: -1.1s;
      animation-delay: -1.1s;
    }
    .rect3 {
      -webkit-animation-delay: -1s;
      animation-delay: -1s;
    }
    .rect4 {
      -webkit-animation-delay: -0.9s;
      animation-delay: -0.9s;
    }
    .rect5 {
      -webkit-animation-delay: -0.8s;
      animation-delay: -0.8s;
    }
  }
}

@-webkit-keyframes stretchdelay {
  0%, 40%, 100% {
    -webkit-transform: scaleY(0.4);
  }

  20% {
    -webkit-transform: scaleY(1);
  }
}


@keyframes stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }

  20% {
    transform: scaleY(1);
    -webkit-transform: scaleY(1);
  }
}

.content-area {

    .carousel-slider .flickity-prev-next-button.previous {
        left: -36px;
    }

    .carousel-slider .flickity-prev-next-button.next {
        right: -36px;
    }

}

#sidebar .carousel-slider .flickity-enabled .item {
    margin: 0;
    width: 100%;
    min-height: 0;
}