
/*********************************************************************************************

8. Homepage Widgets - Featured Categories

*********************************************************************************************/


/* Styles for Posts from Widgets */
.post-thumb img {
    max-width: 100%;
    height: auto;
}



/* Featured Category Widget */
.wpzoom-featured-cat  {
    margin: 0 0 40px;
    font-size: 0;
}




.featured_category_2col .featured-style-style_text {
    padding: 0;
    border: none;
}

.featured_category_2col .feat-cat_small_list {
    margin: 30px 0 0;
    overflow: hidden;
}

.featured_category_2col .feat-cat_small_list li {
    display: block;
    width: 100%;
    margin: 0 0 25px;
    overflow: hidden;
}

.featured_category_2col .feat-cat_small_list li:last-child {
    margin: 0;
}

.featured_category_2col .feat-cat_small_list h3.entry-title {
    font-size: 18px;
}

.featured_category_2col .feat-cat_small_list .post-thumb {
    max-width: 35.9%;
    float: left;
    margin: 0 20px 0 0;
}

.right_col_posts .post_content,
.feat-cat_small_list .post-content {
    overflow: hidden;
}


.widget.wpzoom-featured-cat h3.title {
    background: none;
    text-align: left;
    letter-spacing: 0;
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
    font-family: $font__narrow;
    border-bottom: 2px solid #222;
    padding: 0 0 20px;
    margin: 0 0 30px;
}

.wpzoom-featured-cat h3.title a {
    font-weight: normal;
}

.wpzoom-featured-cat h3.entry-title {
    line-height: 1.3;
    font-size: 22px;
    font-weight: normal;
    font-family: $font__narrow;
    text-transform: none;

    a {
        font-weight: 600;
    }
}

.wpzoom-featured-cat .featured-style-style_text h3.entry-title {
    margin-bottom: 10px;
    line-height: 1.3;
    font-weight: bold;
}


.wpzoom-featured-cat img {
    max-width: 100%;
    height: auto;
}

.wpzoom-featured-cat p {
    font-size: 14px;
    line-height: 1.8;
    margin: 0;
}


.featured-style-style_text .post-thumb {
    margin: 0 0 20px;

    img {
        width: 100%;
    }
}


.wpzoom-featured-cat .featured-style-style_text {
    font-size: 0;
}



.content-area {

    .featured-style-style_text {
        padding: 0 0 40px;
        margin: 0 0 10px;
        border-bottom: 1px solid #eee;
        overflow: hidden;
    }

}




.wpzoom-featured-cat .featured-grid .post {
    margin-bottom: 10px;
    overflow: hidden;

}

.wpzoom-featured-cat .right_col_posts {

    li {
        width: 100%;
        margin: 0 0 20px;
        display: block;
        overflow: hidden;
    }

     .post-thumb {
        max-width: 35.9%;
        float: left;
        margin: 0 20px 20px 0;
    }


    h3.entry-title  {
        font-size: 18px;
    }

}


#sidebar {

    .right_col_posts {
        margin-top: 30px;
    }

}

@media (min-width: 640px) {

    .content-area {

        .post_content { color: #777; }

        .wpzoom-featured-cat .featured-grid-single > div {
            width: 47.5%;
            float: left;
            margin-right: 2.66666%;
        }

        .wpzoom-featured-cat .right_col_posts {
            width: 47%;
            float: right;
            clear: none;
        }


        .featured_category_2col {
            display: inline-block;
            vertical-align: top;
            font-size: 0;
            width: 47.5%;
            margin: 0 5% 0 0;
        }

        .featured_category_2col:nth-child(2) {
            margin-right: 0;
        }

    }

}
