

/* Single Page Widget */

#sidebar .wpzoom-media-widget {
    padding: 0;
    border: none;

    .title {
        margin: 0;
        padding: 8px 18px;
    }
}

.wpzoom-media-widget {

    .post_thumb_withbg {
     height: 230px;
      width: 100%;
      color: #000;
      text-align: center;
      background-color: #eee;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      position: relative;
      transition: all 0.2s ease;
      display: table;
      box-sizing: border-box;
      padding: 10px;
      box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.07);
    }

    .post_thumb_withbg:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      pointer-events: none;
      transition: all 0.2s ease;
    }

    .post_thumb_withbg:hover:after {
      background: rgba(0,0,0,.3);
    }

    .post_thumb_withbg a {
      color: #fff;
      display: table;
      width: 100%;
      height: 100%;
    }


    .post_thumb_withbg h3.title {
      color: #fff;
      line-height: 1.5em;
      padding: 8px 18px;
      font-weight: 600;
      font-size: 12px;
      text-transform: uppercase;
      background: #000;
      display: inline-block;
      margin: 0;
      font-family: $font__alt;
      transition: all 0.4s ease;
    }


    .post_thumb_withbg .featured_page_content {
      color: #fff;
      position: relative;
      z-index: 10;
      height: 100%;
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      border: 1px solid rgba(255,255,255,.4);
      transition: all 0.4s ease;
    }
}