/* Instagram Widget */
.zoom-instagram-widget li img:hover {
    opacity: 0.6;
    transition: opacity 0.25s ease-in-out;
}

.section-footer .zoom-instagram-widget__items {
    overflow: hidden;
}

.section-footer .zoom-instagram-widget {
    overflow: hidden;
    margin: 0;
    position: relative;
}

.section-footer .zoom-instagram-widget .title {
    display: none;
}

.section-footer .zoom-instagram-widget .zoom-instagram-widget__follow-me {
    margin-top: 1px;
    text-align: center;
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.section-footer .zoom-instagram-widget a.ig-b-v-24 {
    color: #fff !important;
    border: none;
    font-weight: 600 !important;
    border-radius: 0;
    font-family: $font__main;
    line-height: 1.5em;
    padding: 8px 18px;
    font-size: 18px;
    // text-transform: uppercase;
    background: #000;
    display: inline-block;
    margin: 0;
    -webkit-backface-visibility: hidden
}


.zoom-instagram-widget li img {
    transition: all .2s ease;
}

.section-footer .zoom-instagram-widget li img:hover {
    opacity: 0.9;
}

.section-footer .zoom-instagram-widget .zoom-instagram-widget__items {
    width: 5000px;
}

.section-footer .zoom-instagram-widget .zoom-instagram-widget__items .zoom-instagram-widget__item {
    margin: 0 !important;
}


#sidebar {

    .zoom-instagram-widget a.ig-b-v-24 {
    color: #000 !important;
    border: 1px solid #000;
    font-weight: 600 !important;
    border-radius: 0;
    font-family: $font__main;
    line-height: 1.5em;
    padding: 8px 18px;
    font-size: 16px;
    display: inline-block;
    margin: 0;
    -webkit-backface-visibility: hidden
    }

    .zoom-instagram-widget a.ig-b-v-24:hover {
        color: #fff !important;
        background: #000;
    }

}
