
/* MailPoet Widget */


.widget.widget_wysija .title {
    margin-bottom: 20px;
}

.section-single {
    .widget.widget_wysija .title {
        background: none;
        text-transform: none;
        font-size: 18px;
        color: #fff;
        text-align: center;
        font-family: $font__alt;
    }

    .widget.widget_wysija {
        background: #000;
        padding: 40px 30px;
        color: #fff;
    }

}

#sidebar {

    .widget.widget_wysija {
        background: #000;
        color: #fff;
    }

    .widget.widget_wysija .title {
        margin-bottom: 40px;
    }
}

#sidebar .widget.widget_wysija:after {
    display: none;
}

.widget_wysija_cont .wysija-submit {
    display: inline-block;
}

.widget_wysija input {
    width: 100%;
    border-color: #C6D1D6;
}



.widget_wysija .wysija-submit:hover {
    background: #333;
}


.wysija-paragraph {
    margin: 15px 0 0;
}


.widget_wysija_cont .updated, .widget_wysija_cont .error, .widget_wysija_cont .xdetailed-errors {
    font-size: 14px;
    padding: 10px;
    line-height: 1.7;
}
