/* Recent Posts */

.feature-posts-list {
  list-style-type: none;
  padding: 0;
  &:before {
    content: " ";
    display: table;
  }
  &:after {
    content: " ";
    display: table;
    clear: both;
  }
  > li {
    margin: 0 0 20px;
  }
  .post-thumb {
    position: relative;
    overflow: hidden;
    margin: 0 15px 0 0;
    max-width: 35%;
    float: left;
    img {
      max-width: 100%;
      height: auto;
    }
  }
  h3 {
    font-weight: normal;
    margin: 0 0 5px;
    font-size: 18px;
    line-height: 1.4;
    font-family: $font__narrow;

    a{
        font-weight: normal;
    }
  }
  .sharedaddy { display: none; }

  .post_content {
    overflow: hidden;
  }
}

.home_column {
    .post-thumb {
        margin-bottom: 0;
    }
}

.widget .feature-posts-list {
  br {
    display: none;
  }
  small {
    font-size: 14px;
    display: block;
  }
  .post-excerpt {
    display: block;
    overflow: hidden;
  }
  li {
    margin: 0 0 20px;
    padding: 0 0 20px;
    border-bottom: 1px solid #eee;
  }
}

.site-footer .widget .feature-posts-list li {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.widget .feature-posts-list li {
  &:last-child {
    margin: 0;
    border: none;
    padding: 0;
  }

}

/* Recent Posts on Homepage */

.fw-page-builder-content .feature-posts-list, .homepage_full .feature-posts-list {
  font-size: 0;
}

.fw-page-builder-content .feature-posts-list > li, .homepage_full .feature-posts-list > li {
  width: 23%;
  margin: 0 2.33% 50px 0;
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  border: none;
}

.fw-page-builder-content .feature-posts-list > li:nth-child(4n+4), .homepage_full .feature-posts-list > li:nth-child(4n+4) {
  margin-right: 0;
}

.fw-page-builder-content .feature-posts-list h3, .homepage_full .feature-posts-list h3 {
  font-size: 18px;
  margin: 10px 0;
}

.fw-page-builder-content .feature-posts-list .post-thumb, .homepage_full .feature-posts-list .post-thumb {
  margin: 0;
  float: none;
  max-width: 100%;
}

.fw-page-builder-content .feature-posts-list .more_link, .homepage_full .feature-posts-list .more_link {
  margin-bottom: 10px;
}