
/* Tabbed Widget */
.tabberlive .tabbertabhide {
    display: none;
}

#sidebar .widget.tabbertabs {
    padding: 0;
    border: none;
    background: $light_color;
}

.widget .tabbertab {
    padding: 15px;
}

.widget .tabbernav {
    margin: 0;
    background: #fff;
}


.widget .tabbernav li {
    display: inline-block;
    color: #8d8d8d;
    margin: 0;
}

.widget .tabbernav li a {
    display: inline-block;
    position: relative;
    margin: 0;
    padding: 15px 20px;
    line-height: 1.1;
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
    color: #aaa;
    text-decoration: none;
    font-family: $font__narrow;
    background: none;
}

.widget .tabbernav li:not(.tabberactive) a:hover {
    color: #000;
}

.widget .tabbernav .tabberactive a {
    background: $light_color;
    color: #000;
}

.widget .tabbertab .widgettitle {
    display: none;
}

