/* Popular posts tab */
ol.popular-posts {
    counter-reset: number;
}

ol.popular-posts li {
    font-size: 18px;
    line-height: 1.4;
    margin: 0 0 12px;
    padding: 0 0 12px;
    border-bottom: 1px solid rgba(0,0,0,.08);
    color: #000;
    font-weight: bold;
    overflow: hidden;
}


ol.popular-posts li:before {
    float: left;
    display: block;
    counter-increment: number;
    content: counter(number);
    width: 35px;
    margin-right: 5px;
    font-family: $font__narrow;
    font-weight: 400;
    font-size: 38px;
    color: #ccc;
    line-height: 1;
}

.list_wrapper {
    overflow: hidden;
}

ol.popular-posts li:last-child {
    border-bottom: none;
    padding: 0;
}

ol.popular-posts li span {
    font-size: 14px;
    font-weight: normal;
    color: #777;
    display: block;
    margin: 5px 0 0;
}

ol.popular-posts li h3 {
    margin: 0;
    font-size: 22px;
    text-transform: none;
}

ol.popular-posts li h3 a {
    font-weight: 400;
    font-family: $font__narrow;
}
