/* Twitter widget */

.zoom-twitter-widget {
  ul li {
    margin: 0 0 25px;
    font-style: italic;
  }
  a {
    border-bottom: 1px solid #eee;
    &:hover {
      border-bottom: 1px solid #ccc;
    }
  }
  time {
    display: block;
    margin: 10px 0;
    font-size: 14px;
    color: #acacac;
  }
  .zoom-twitter-widget__follow-me {
    margin: 10px 0 0;
  }
}