.widget {
  margin-bottom: 40px;
  position: relative;

  .sharedaddy {
    display: none;
    }
  .title {
    margin: 0 0 20px;
    text-transform: uppercase;
  }

  a {
    font-weight: 600;
  }
  ul,ol {
    clear: both;
    margin: 0;
    padding: 0;
    li {
      list-style-type: none;
      margin: 0 0 5px;
    }
    ul,ol {
      margin: 0;
      padding: 0;
      border-top: none;
      li {
        border: none;
      }
    }
  }
  select {
    width: 100%;
  }

}

#sidebar {
    .widget {
        padding: 30px;
        margin-bottom: 60px;
        border: 1px solid #eee;

        .title {
            margin: -50px 0 25px;
            padding: 12px;
            color: #fff;
            background: #121516;
            font-size: 14px;
            letter-spacing: 1px;
            font-weight: 600;
            text-align: center;
            font-family: $font__alt;

            a {
                color: #fff;
                font-weight: 600;
            }
        }
    }
}

.footer-widgets {
  padding: 40px 0 0;
  font-size: 0;
  &:before {
    content: " ";
    display: table;
  }
  &:after {
    content: " ";
    display: table;
    clear: both;
  }

   .column {
    display: inline-block;
    vertical-align: top;
    margin-right: 2.4561%;
    width: 23.1578%;
    font-size: 16px;
  }

}

  .widget-areas {
      font-size: 0;

      /* 1 column */
     .column:nth-child(1):nth-last-child(1) {
          width: 100%;
      }


      /* 2 columns */
       .column:nth-child(1):nth-last-child(2),
      .column:nth-child(2):nth-last-child(1) {
          width: 48%;
          margin-right: 4%;
      }

     .column:nth-child(2):nth-last-child(1) {
          margin-right: 0;
      }


      /* 3 columns */
      .column:nth-child(1):nth-last-child(3),
      .column:nth-child(2):nth-last-child(2),
      .column:nth-child(3):nth-last-child(1) {
          width: 30%;
          margin-right: 5%;
      }

      .column:nth-child(3):nth-last-child(1) {
          margin-right: 0;
      }


      /* 4 columns */
        .column:nth-child(1):nth-last-child(4),
       .column:nth-child(2):nth-last-child(3),
       .column:nth-child(3):nth-last-child(2),
       .column:nth-child(4):nth-last-child(1) {
          width: 23.5%;
          margin-right: 2%;
      }

       .column:nth-child(4):nth-last-child(1) {
          margin-right: 0;
      }

    }


.site-footer {
  .widget {
    margin-bottom: 40px;
    .title {
      color: #fff;
      text-align: left;
      background: none;
      font-family: $font__alt;
      letter-spacing: 0;
      font-weight: 600;
      margin: 0 0 20px;
      font-size: 20px;
      padding: 0;
      line-height: 1.3;
    }
  }
}


/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
@import "about";

/*--------------------------------------------------------------
# Image Box
--------------------------------------------------------------*/
@import "image-box";

/*--------------------------------------------------------------
# Tabs
--------------------------------------------------------------*/
@import "tabs";

/*--------------------------------------------------------------
# Most Popular/Viewed
--------------------------------------------------------------*/
@import "top";

/*--------------------------------------------------------------
# Featured Category
--------------------------------------------------------------*/
@import "featured-category";

/*--------------------------------------------------------------
# Carousel
--------------------------------------------------------------*/
@import "carousel";

/*--------------------------------------------------------------
# Recent Posts
--------------------------------------------------------------*/
@import "recent-posts";

/*--------------------------------------------------------------
# Instagram
--------------------------------------------------------------*/
@import "instagram";

/*--------------------------------------------------------------
# Twitter
--------------------------------------------------------------*/
@import "twitter";

/*--------------------------------------------------------------
# Native widgets styling
--------------------------------------------------------------*/
@import "wp-default";

/*--------------------------------------------------------------
# MailPoet
--------------------------------------------------------------*/
@import "mailpoet";