.widget_search label {
  display: inline;
}

.textwidget img {
  max-width: 100%;
  height: auto;
}

/* RSS Widget */

.widget_rss {
  ul li {
    margin: 0 0 15px;
    padding: 0 0 15px;
    border-bottom: 1px solid #eee;
  }
  .rsswidget {
    font-weight: bold;
    margin: 0 0 7px;
    font-size: 16px;
  }
  .rss-date {
    display: block;
    font-size: 14px;
    margin: 5px 0;
    color: #999;
  }
  .rssSummary {
    font-size: 14px;
    margin: 0 0 5px;
  }
}

/* Calendar widget */

#wp-calendar {
  caption {
    text-align: right;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 15px;
  }
  thead {
    font-size: 12px;
    th {
      padding-bottom: 10px;
    }
  }
  tbody {
    color: #aaa;
    td {
      text-align: center;
      padding: 8px;
    }
    .pad {
      background: none;
    }
  }
  tfoot {
    #next {
      font-size: 12px;
      text-transform: uppercase;
      text-align: right;
    }
    #prev {
      font-size: 12px;
      text-transform: uppercase;
      padding-top: 10px;
    }
  }
}