html {
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  margin: 0;
  padding: 0;
  font-family: $font__main;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.7;
  color: #444;
  background: #fff;
  background-repeat: no-repeat;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  &.noscroll {
    position: fixed;
    overflow: hidden;
    width: 100%;
  }
}


.inner-wrap {
  max-width: 1200px;
  margin: 0 auto;
}

.content-area {
    float: left;
    width: 66.667%;
}

.full-width .content-area {
    width: 100%;
    float: none;
}

.content-area.full-layout {
    width: 100%;
    float: none;
}



/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
@import "primary/posts-and-pages";

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
@import "primary/comments";