.banner
 h1, .h1, h2, .h2, h3, .h3, h4, .h4
  margin: 0
  color: $color__button
  letter-spacing: 2.15px
 &-top
  padding: 51.5px 15px
  +_media-sm-up
   padding: 59.5px 15px

 &-slide
  .sa_hover_container
   &> h1, .h1, p, div
    max-width: 1200px
    margin: 0 auto
    padding-left: 15px
    letter-spacing: 1px
    +_media-md-up
     padding-right: 15%
   &> h1, .h1
    line-height: 61px
  .owl-stage-outer
   height: 353px
   overflow: hidden
  .sa_owl_theme
   .owl-dots
    counter-reset: slides-num
    position: absolute
    top: 72px
    max-width: 1200px
    margin: 0 auto
    left: 0
    right: 0
    text-align: left !important
    padding: 0 15px !important
    color: $primary_color
    bottom: auto !important
    &:after
     content: counter(slides-num) 
     display: inline-block
     padding-left: 13px
    &:before
     content: 'DEDICATION TO EMPOWERMENT'
     position: absolute
     left: 45px
     color: $color__button
     letter-spacing: 2px
    .owl-dot
     counter-increment: slides-num
     position: absolute
     display: block
     padding-bottom: 20px
     &:after
      content: ''
      height: 1px
      width: 72px
      background-color: rgba($color__button, .2)
      bottom: -15px
      position: absolute
     span
      display: none !important
     &.active:before
      content: counter(slides-num) "/"
      display: inline-block
      vertical-align: middle
      position: absolute   