.b_footer
 &-widgets
  padding: 38px 0 34px
  +_media-sm-up
   padding: 65px 0 34px
  .widget-areas
  .b_footer
   &-col
    +_media-sm-down
     text-align: center
    &:nth-child(1):nth-last-child(4)
     margin-right: 0
     display: none
     +_media-md-up
      display: inline-block
      width: 17%
    &:nth-child(2):nth-last-child(3),
    &:nth-child(3):nth-last-child(2)
     margin-right: 0
     +_media-sm-up
      width: 25.6%
    &:nth-child(4):nth-last-child(1)
     margin-right: 0
     +_media-sm-up
      width: 31.8%

 .menu
  li
   margin-bottom: 18px
   +_media-sm-up
    margin-bottom: 30px
  a
   text-transform: uppercase
   font-size: 1.4rem
   font-weight: 400
   color: rgba($color__button, .8)
   letter-spacing: 1.7px
   &:hover
    color: $primary_color
 .widget
  margin-bottom: 0
  .zoom-social-icons-list--no-labels.zoom-social-icons-list--without-canvas
   margin-left: 0
   margin-top: 10px
  .zoom-social_icons-list__item
   margin: 0px 8px 0 0
   span
    padding: 0
    transition: all .3s
    +_media-sm-down
     font-size: 26px !important
     margin: 0 11px
