$headerHeight: 64px

.b_header
 .inner-wrap
  position: static
 &_video
  height: 160px
  display: none
  +_media-sm-up
   display: block
 &_navbar
  position: initial
  padding: 6px 0 8px
  background-color: $color__background-body
  box-shadow: 0 1px 0 0 rgba($color__link, .19)
  +_media-md-up
   padding: 24px 0 29px
  .navbar-wpz
   li
    padding: 0 18px
    top: 3px
   a
    color: $color__link
    transition: all .3s
    letter-spacing: 2.2px
    padding: 0
    font-size: 1.8rem
    &:hover
     color: $primary_color
 &_navbartop
  display: none
  +_media-md-up
   display: block
 &_navbarmobile
  .slicknav_menutxt
   display: none
 &_brand
  display: none
  +_media-md-up
   margin-right: 34px
   display: block
  .custom-logo-link
   display: block
   +_media-md-down
    width: 28px
    height: 36px
    background: url("../img/logo-mobile.png") no-repeat center center
    background-size: contain
    overflow: hidden
    img
     display: none
  img
   width: 209px

 &_flex
  display: flex
  align-items: center
  justify-content: space-between
 &-left, &-right
  display: flex
  align-items: center
 &-mobile
  display: none
  +_media-md-down
   display: block
  .b_header_brand
   display: block

 .slicknav_nav
  position: absolute
  top: $headerHeight
  left: 0
  right: 0
  ul
   background-color: $alt_color
   margin-bottom: 0
   display: flex
   padding: 41px 30px
   align-items: center
   justify-content: space-around
   li
    margin: 0
    border: none
   a
    color: $color__button
    font-size: 1.8rem
    font-weight: $regular
    margin: 0

 // search & social icons styles
 .sb-search
  height: 28px
  min-width: 20px
  width: 20px
  // opened search
  &.sb-search-open 
   .sb-icon-search:before
    line-height: 24px
    color: inherit
    font-size: 28px
   .sb-search-input
    width: 230px
    border-bottom: 1px solid rgba($color__link, .2)
    padding: 0 20px 8px 0

 .sb-search-submit,
 .sb-search-input
  height: 28px
  +_placeholder
   letter-spacing: 2.52px
   color: $form_placeholder
 .sb-icon-search
  color: $color__link
  font-size: 20px
  width: 20px
  height: 28px
  line-height: 28px

 .header_social
  border-right: 1px solid rgba($color__link, .11)
  padding-right: 30px
  display: none
  margin-right: 20px
  +_media-md-up
   display: block
  .zoom-social_icons-list
   &__item
    margin: 0
    .socicon
     padding: 0 6px