.cat-links
 margin: 0 0 10px
 a
  font-size: 1.2rem
  color: $primary_color
  background: none
  padding: 0 0 20px
  position: relative
  margin: 0
  &:before
   content: ''
   position: absolute
   width: 70px
   height: 1px
   background: rgba($alt_color, .2)
   bottom: 0
   left: 0

.post-title,
.entry-title,
.cat-links
 a
  border: none

.post
 .post-thumb
  margin-right: 8%
  width: 100%
  height: 221px
  max-width: 100%
  +_media-val-up(1024px)
   width: 444px
   height: 339px
  a
   display: block
   width: inherit
   max-width: 100%
   height: inherit
   border: none
   overflow: hidden
   &:hover
    img
     transform: scale(1.2)
   img
    width: 100%
    height: 100%
    transition: all .5s
    object-fit: cover
 .post-title 
  line-height: 4rem
  margin-bottom: 8px
 .cat-links
  margin-top: 25px
  +_media-sm-up
   margin-top: 0
  a
   font-size: 1.4rem
   font-weight: $bold
 .post-inner
  margin-bottom: 30px
  padding-bottom: 30px
  border-bottom: 1px solid rgba($alt_color, .1)
  +_media-sm-up
   margin-bottom: 53px
   padding: 0
   border: none

 .post-col-right
  +_media-sm-up
   padding-left: 14px


// popular posts styles
.popular-views_child
 position: relative
 +_media-sm-up
  height: 385px
.widget
 .gd_pp
  margin-left: -15px
  margin-right: -15px
 ul.gd_pp li 
  +_media-sm-down
   margin-bottom: 20px

.gd_pp
 +_media-sm-up
  position: absolute
  top: 0
  left: 0
  right: 0
 &_wrapper
  cursor: default
  transition: all .3s
  background-color: $color__background-body
  &:hover
   +_media-md-up
    border: 8px solid $primary_color
    box-shadow: 0 20px 51px 0 $shadow_color
    margin: -25px -8px 0 -8px
    .gd_pp_content-in
     height: 160px
     margin-bottom: 60px
    .gd_pp_button
     transform: scale(1)
     height: auto
    .gd_pp_content-in, .gd_pp_button
     opacity: 1
    .gd_pp_content
     padding: 30px 16px 14px
    .gd_pp_image,
     height: 0
    .post-meta
     display: none
 &_col
  padding: 0 15px
  &:last-child
   +_media-val-down(1024px)
    display: none
 &_image
  height: 230px
  overflow: hidden
  transition: all .3s
  +_media-sm-down
   height: 250px
  img
   width: 100%
   height: 100%
   object-fit: cover
 &_content
  padding: 16px
  border: 1px solid rgba($gray1, .21)
  transition: all .3s
  &-in
   opacity: 0
   height: 0
   overflow: hidden
   transition: all .3s

 &_title
  margin: 1px 0 4px
  +_media-sm-down
   line-height: 1.5
  a 
   display: block
   height: 63px
   overflow: hidden
   +_media-sm-up
    height: 70px
 &_button
  transform: scale(0)
  opacity: 0
  height: 0
  transition: all .3s
  a
   width: 100%
   font-weight: $regular
   position: relative
   &:hover
    &:before
     color: $alt_color
   &:before
    content: "\f178"
    font: normal normal normal 21px/1 FontAwesome
    position: absolute
    top: 50%
    margin-top: -10.5px
    right: 15px
    color: $primary_color
    transition: all .3s

 .post-meta
  display: block
  font-size: 1.4rem
  color: $gray2


 .cat-links
  margin: 0
  padding: 0
  a
   padding: 0
   &:before
    display: none

 