@import "post"
@import "../core/btn"

$slider_bp_lg: 1241px
$slider_bp_sm: 640px

#slider
 background: #f0f0f0 url('../img/backgrounds/slider_bg.png') no-repeat center center
 background-size: cover
 background-attachment: fixed
 height: 582px
 +_media-val-down($slider_bp_sm)
  height: 484px !important
 .slide
  height: 582px
  +_media-val-down($slider_bp_sm)
   height: 484px !important
  &-background
   display: none
  &-overlay
   background: none

 .flickity-viewport
  height: inherit !important

 .slides 
  max-width: 1200px
  margin: 0 auto
  height: inherit
  li
   .slide-header 
    text-align: left
    max-width: 650px
    margin-left: 0
    top: 50%
    +_media-val-up($slider_bp_lg)
     margin-top: -45px
    +_media-val-down($slider_bp_sm)
     width: 100%
     top: 40%
    h1, .h1
     margin-top: 17px
     margin-bottom: 17px
     a
      display: block
      max-height: 56px
      overflow: hidden
      +_media-val-up($slider_bp_sm)
       max-height: 45px
       white-space: nowrap
       text-overflow: ellipsis
    p
     font-size: 1.8rem
     color: $alt_color
     max-height: 50px
     overflow: hidden
     +_media-val-down($slider_bp_sm)
      display: block
      max-height: 130px
      font-size: 1.6rem
   .cat-links
    margin-bottom: 20px
    @extend .cat-links
   .slide_button
    text-align: center
    margin-top: 20px
    +_media-val-up($slider_bp_sm)
     text-align: left
     margin-top: 35px
    a
     @extend .btn

 .flickity-page-dots
  left: 0
  right: 0
  text-align: center
  padding-right: 15px
  padding-left: 15px
  bottom: 88px
  +_media-val-up($slider_bp_lg)
   bottom: 159px
  +_media-val-up($slider_bp_sm)
   text-align: left
   bottom: 94px
  .dot
   width: 8px
   height: 8px  
   background-color: rgba($alt_color2, .12)
   border-radius: 0
   opacity: 1
   &:first-child
    margin-left: 0
   &.is-selected
    background-color: $alt_color2

 .flickity-prev-next-button
  width: 48px
  height: 48px
  bottom: 100px
  top: auto
  background-color: rgba($alt_color2, .07)
  font: normal normal normal 21px/1 FontAwesome
  &:hover
   background-color: $primary_color
   &:before
    color: $color__button
  +_media-sm-down
   display: none
  +_media-val-up($slider_bp_lg)
   bottom: 188px
  &:before
   color: $alt_color2
   transition: all .3s
  &.previous
   right: 79px
   left: auto
   &:before
    content: "\f177"
  &.next
   right: 15px
   &:before
    content: "\f178"
  svg
   display: none