#comments {
    font-size: 16px;
    a {
      text-decoration: underline;
     }
    a:hover {
      text-decoration: none;
    }

}
#comments > h3 {
  position: relative;
  margin-top: 50px;
  font-size: 26px;
  margin-bottom: 40px;
}

#respond > h3 {
  position: relative;
  margin-bottom: 10px;
  font-size: 26px;
}

.comment-notes {
  margin-bottom: 30px;
  color: #969696;
  font-style: italic;
}

#cancel-comment-reply-link {
    color: #d22e2e;
}

.commentlist {
  list-style-type: none;
  padding: 0;
  li {
    list-style-type: none;
  }
  .children {
    margin: 30px 0 0 50px;
  }
  .comment {
    margin-bottom: 44px;
    padding-bottom: 32px;
    position: relative;
    line-height: 1.8;
  }
  .children li:last-child {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
    margin-top: 30px;
  }
}

.comment .avatar {
  float: left;
  border-radius: 50%;
  margin-right: 28px;
}

.comment-author {
  &:before {
    content: " ";
    display: table;
  }
  &:after {
    content: " ";
    display: table;
    clear: both;
  }
  .fn {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    a {
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      text-decoration: none !important;
    }
  }
  .comment-meta {
    margin-top: 5px;
    color: #a2a2a2;
    a {
      color: #a2a2a2;
      &:hover {
        color: #333;
      }
    }
  }
}

.comment-main {
  overflow: hidden;
}

.comment-body {
  margin-top: 8px;
}

#respond {
  margin-bottom: 85px;
  padding: 30px;
  background: $light_color;

  .form_fields p {
    margin-bottom: 24px;
    width: 50%;
    &:first-child {
      padding-left: 0;
    }
  }
  label {
    font-weight: normal;
    font-size: 16px;
    margin-bottom: 5px;
  }
  input {
    width: 90%;
  }
  textarea {
    width: 100%;
    height: 150px;
  }
  #submit {
    width: auto;
    padding-left: 25px;
    padding-right: 25px;
    margin-top: 12px;
  }
  code {
    white-space: pre-wrap;
  }
}

.form-allowed-tags {
  display: none;
}

#respond .form_fields p .required_lab {
  margin-left: 10px;
  color: #a7a7b3;
}