.recent-posts {
  font-size: 0;
  .post {
    &:before {
      content: " ";
      display: table;
    }
    &:after {
      content: " ";
      display: table;
      clear: both;
    }
    font-size: 14px;
    position: relative;
    overflow: hidden;
    margin: 0 0 50px;
    padding: 0 0 40px;
    border-bottom: 1px solid rgba(0,0,0,.06);
    color: #777;
  }


  &.two-columns_layout {
    font-size: 0;
    .post {
      &:before {
        content: " ";
        display: table;
      }
      &:after {
        content: " ";
        display: table;
        clear: both;
      }

      display: inline-block;
      vertical-align: top;

      font-size: 14px;
      position: relative;
      overflow: hidden;
      width: 47.5%;
      margin: 0 5% 40px 0;
      padding: 0;
      border: none;
      color: #777;

      .post-thumb {
        margin: 0 0 20px;
        max-width: 100%;
        width: 100%;

        img {
            width: 100%;
        }
      }
      .entry-body {
        overflow: hidden;
        display:block;
        vertical-align: top;
        width: 100%;
      }

      &:nth-of-type(2n+2) {
         margin-right: 0;
       }
     }


    }
}


.content-area.full-layout .recent-posts {

    .post {
      &:before {
        content: " ";
        display: table;
      }
      &:after {
        content: " ";
        display: table;
        clear: both;
      }

      display: inline-block;
      vertical-align: top;
      font-size: 14px;
      position: relative;
      overflow: hidden;
      width: 48%;
      margin: 0 4% 40px 0;
      padding: 0;
      border: none;
      color: #777;

      .post-thumb {
        margin: 0 0 20px;
        max-width: 100%;
        float: none;

        img {
            width: 100%;
        }
      }
      .entry-body {
        overflow: hidden;
        display:block;
        vertical-align: top;
        width: 100%;
      }

      &:nth-of-type(2n+2) {
         margin-right: 0;
       }
     }

}

@media (min-width: 980px) {

    .content-area.full-layout .recent-posts {

         &.three-columns_layout {

          article {
            width: 31.7%;
            margin: 0 2.45% 50px 0;

            .entry-title {
              font-size: 26px;
            }
          }
          article {
            &:nth-of-type(2n+2) {
              margin-right: 2.45%;
            }
            &:nth-of-type(3n+3) {
              margin-right: 0;
            }
          }

        }
    }

}

.recent-posts .post-thumb {
  margin: 0 3% 0 0;
  max-width: 48%;
  float: left;

    a {
        font-size: 0;
    }

     img {
      max-width: 100%;
      height: auto;
    }

}
.recent-posts .entry-body {
  overflow: hidden;
}

.entry-title {
  margin: 0 0 15px;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 1.1;
  font-family: $font__headings;
  // font-family: $font__narrow;
  text-transform: uppercase;
}

.entry-content {
  &:before {
    content: " ";
    display: table;
  }
  &:after {
    content: " ";
    display: table;
    clear: both;
  }
  p {
    margin: 0 0 20px;
    padding: 0;
  }
  img {
    max-width: 100%;
    height: auto;
  }
}

.search .content-area {
    padding-bottom: 50px;
}

.site-footer .entry-meta {
  color: #9ba2a9;
}

.entry-meta {
    margin-bottom: 15px;
    color: #676c71;
    font-size: 14px;

  span + span:before {
    content: " /  ";
    color: #B6BABB;
    margin: 0 5px;
    font-style: normal;
    opacity: .7;
  }
  a {
    border-bottom: 1px solid #e8e8e8;
    padding-bottom: 3px;
  }
}

.cat-links {
  margin-bottom: 8px;
  display: block;
    a {
        font-size: 14px;
        text-transform: uppercase;
        font-weight: normal;
        font-family: $font__alt;
        display: inline-block;
    }

}

.single {
    .cat-links a {
        color: #fff;
        background: #000;
        padding: 4px 14px;
        font-size: 12px;
        font-weight: 600;
        letter-spacing: 1px;
        margin-bottom: 8px;

    }

}


.more-link, .more_link {
  display: table;
  margin: 20px 0 0;
}

.readmore_button {
  a {
    display: inline-block;
    transition-duration: 200ms;
    padding: 10px 20px;
    font-size: 14px;
    background: #000;
    color: #fff;
    font-weight: 500;
    letter-spacing: 1px;
    font-family: $font__narrow;
    text-transform: uppercase;

  }
}


/* Search */

.search article {

    .entry-meta {
        display: none;
    }

}

/* Blog View */

.content-area.full-layout .recent-posts.blog-view {
  margin: 0 auto;
  max-width: 800px;
  .entry-body {
    max-width: 90%;
    margin: 0 auto;
  }
  article {
    width: 100%;
    margin: 0 0 50px;
  }
}

.recent-posts {
  &.blog-view article {
    width: 100%;
    margin-right: 0;
    font-size: 16px;
    border-bottom: 1px solid #eee;
    padding: 0 0 30px;
    margin-bottom: 50px;

    text-align: center;

    .post-thumb {
      margin: 0 0 20px;
      max-width: 100%;

      img {
          width: 100%;
      }
    }

    .entry-content {
        text-align: left;
    }

    .entry-body {
      overflow: hidden;
      display:block;
      vertical-align: top;
      width: 100%;
    }

  }
  &.blog-view {
    .post .entry-title {
      font-size: 36px;
    }
    .entry-meta {
      font-size: 16px;
    }
  }

  article:nth-of-type(2n+2) {
    margin-right: 0;
  }
}


/*********************************************************************************************

7.  Single posts

*********************************************************************************************/

.entry-header {
  margin: 0 0 30px;
  position: relative;
}

.entry-cover {
  z-index: 1;
  background-size: cover;
  background-position: center center;
  min-height: 450px;
  position: relative;
  margin: -41px 0 50px;
}

.page .entry-image .post-thumb,
.single .entry-image .post-thumb {
  margin: 0 0 25px;
}

.page .site-main.full-width-page > article {
  float: none;
  max-width: 100%;
  width: 100%;
}

.content-area.full-width-page {
  float: none;
  width: 100%;
}

.page h1.entry-title, .single h1.entry-title {
  font-size: 40px;
  line-height: 1.1;
  font-weight: 700;
  margin: 10px 0;
}

.page .entry-info, .single .entry-info {
  margin-bottom: 30px;
}

.page .entry-category + .entry-date {
  display: inline-block;
}

.single {
  .entry-category + .entry-date {
    display: inline-block;
  }
  .entry-meta {
    font-size: 16px;
    margin-bottom: 0;
  }
}

.entry-content {
  line-height: 1.7;
}


.entry-content {
  a {
    font-weight: 600;
    &:hover {
      text-decoration: underline;
    }
    &.wpz-sc-button {
      text-decoration: none;
      color: #fff;
      font-weight: normal;
      &:hover {
        color: #fff;
      }
    }
  }
  .wpz-sc-ilink a, .shortcode-tabs ul.tab_titles li.nav-tab a {
    text-decoration: none;
  }
  h1, h2, h3, h4, h5, h6 {
    margin: 0 0 15px;
    line-height: 1.4;
    font-weight: bold;
  }
  img {
    &.alignnone, &.aligncenter, &.alignleft, &.alignright, &.attachment-fullsize {
      margin-bottom: 20px;
      max-width: 100%;
      height: auto;
    }
  }
  ul, ol {
    margin: 0 0 20px 15px;
  }
  li {
    ul, ol {
      margin-bottom: 0;
    }
    list-style-position: inside;
  }
  ul li {
    list-style-type: square;
  }
  ol li {
    list-style-type: decimal;
  }
  .shortcode-unorderedlist ul li {
    list-style-type: none;
    ul {
      list-style-type: none;
    }
  }
  blockquote {
    font-size: 22px;
    margin: 15px 0 40px;
    text-align: center;
    position: relative;
  }

   blockquote:before,
   blockquote:after {
      content: "";
      display: block;
      width: 60px;
      height: 2px;
      margin: 30px auto;
      background: #f0f0f0;
   }
}



/* Tags */

.tag_list {
  position: relative;
  margin: 0 0 30px;
  padding-top: 30px;
  border-top: 1px solid #e8e8e8;

  h4 {
    font-weight: bold;
    color: #212223;
    margin-right: 10px;
    display: inline-block;
 }
  a {
    display: inline-block;
    transition: all .25s ease-in-out;
    font-size: 16px;
    margin: 0 10px 5px 0;
    padding: 3px 20px;
    border: 1px solid #e8e8e8;
    background: $light_color;
    line-height: 1.8;
    font-size: 14px;
    &:last-child {
      margin-right: 0;
    }
    &:hover {
        color: $color__link;
        text-decoration: underline;
    }
  }
}

.entry-footer {
  margin: 30px 0 0;
  color: #222;
}


/* Post Author */

.post_author {
  padding: 30px;
  background: $light_color;
 margin: 0 0 30px;
}

.single {
  .author-description {
    overflow: hidden;
    span {
      display: inline-block;
      margin: 0 0 10px;
      font-size: 16px;
      color: #999;
    }
  }
  .post_author {
    .author-title {
      margin: 0 0 10px;
      font-size: 20px;
      font-weight: bold;
      display: inline-block;

      a {
        text-decoration: none;
      }
    }
    .author-bio {
      margin: 0 0 15px;
      font-size: 16px;
    }
    > img {
      margin: 0 20px 0 0;
      float: left;
      border-radius: 50px;
    }
  }
}

.author_links a {
  margin: 0 15px 0 0;
  &:last-child {
    margin-right: 0;
  }
  &:before {
    content: "\e600";
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    font: normal 20px/100% 'indigo';
    vertical-align: top;
    margin: 4px 5px 0 0;
    color: #222;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  }
  &.author_facebook:before {
    content: "\e601";
  }
  &.author_instagram:before {
    content: "\ea92";
  }
}

img.wp-smiley {
  border: none;
  padding: 0;
}

#snippet-box {
  width: 100% !important;
  float: none !important;
}

/* Jetpack Related Posts */

h4.jp-relatedposts-post-title {
  margin: 10px 0 5px !important;
  font-weight: 400;
}

.single div#jp-relatedposts h3.jp-relatedposts-headline {
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  em:before {
    display: none;
  }
}


.single #jp-relatedposts {
  .jp-relatedposts-items-visual h4.jp-relatedposts-post-title {
    font-size: 16px;
    font-weight: 600;
    line-height: 1.3;
    a {
      color: #000;
      font-weight: 600;
      &:hover {
        text-decoration: none;
      }
    }
  }
  .jp-relatedposts-items .jp-relatedposts-post:hover .jp-relatedposts-post-title a {
    text-decoration: none;
  }
  .jp-relatedposts-items-visual .jp-relatedposts-post {
    opacity: 1;
    margin-bottom: 0;
  }
}

.entry-content div.sharedaddy.sd-sharing-enabled {
  display: none;
}



/* Next/Previous Posts */

.prevnext {
    border-bottom: 2px solid #eeeeee;
    padding: 30px;
    overflow: hidden;
    text-align: center;
    background: $light_color;
}


.prevnext img {
    margin: 0;
    width: 100%;
    height: auto;
}

.prevnext .previous_post_pag {
    float: left;
    width: 50%;
    position: relative;

}

.prevnext .next_post_pag {
    width: 50%;
    float:right;
    position: relative;

}

.prevnext .prevnext_container {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.5;
    overflow: hidden;
    position: relative;
    text-align: center;
    position: absolute;
    background: rgba(0,0,0,.4);
    height: 100%;
    width: 100%;
    padding: 0 10%;
    box-sizing: border-box;
    transition: 0.2s ease all;

    &:hover {
        background: rgba(0,0,0,.6);
    }
}

.prevnext_title {
    position: relative;
    display: block;
}

.prevnext .prevnext_container h4 {
    position: relative;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    top: 50%;
    color: #fff;
    text-align: center;
    font-family: $font__main;
    font-size: 24px;
    line-height: 1.2;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}


.prev_next_small {
    font-weight: normal;
    text-transform: uppercase;
    text-align: center;
    color: #777;
    display: block;
    font-size: 13px;
    margin: 0 0 4px;
    padding: 0;
    text-align: left;
}


.prevnext .previous_post_pag {

    .prev_next_small {
        transform: rotate(-90deg);
        transform-origin: left top 0;
        position: absolute;
        bottom: 0;
        left: -19px;
        background: rgba(0,0,0,.07);
        padding: 2px 8px;
    }
}

.prevnext .next_post_pag {

    .prev_next_small {
        transform: rotate(90deg);
        transform-origin: right bottom 0;
        position: absolute;
        top: 45px;
        right: 1px;
        z-index: 20;
        background: rgba(0,0,0,.07);
        padding: 2px 8px;
    }
}


.content-area {
    position: relative;
}


.wpz-float-sharing {
    width: 70px;
    margin-left: -100px;
    float: left;

    .sharedaddy {

        .sd-social {
            font-size: 15px;
            font-size: 1.5rem;

            a {
                color: #222;
                display: block;
                line-height: 1.6;
                padding: 0.8em;
                text-align: center;
                text-decoration: none;
              }

              a:hover,
              a:focus {
                  background-color: #ededed;
                  color: #0080c3;
                }


            li {
                background-color: #fff;
                box-shadow: -1px 0 0 0 #dedede, 0 -1px 0 0 #dedede;
                display: inline-block;
                margin: 0;

                text-align: center;
                flex-basis: 0;
                flex-grow: 1;
              }

              li:last-child {
                border-right-width: 0;
              }

             ul {
                border: 1px solid #dedede;
                display: flex;
                list-style: none;
                margin: 0;
                padding: 0;

                flex-wrap: wrap;
              }

              .share-end {
                 display: none;
               }

               .sd-content ul li a.share-more span {
                display: none;
            }

          }


              .sd-social
              .share-icon:before,
              .share-more:before {
                font-size: 28px;
                line-height: 1;
              }

              .sd-social-icon-text .share-icon span {
                margin-left: 0.33333333em;
              }

              .sd-social-icon .sd-button span.share-count {
                  right: 0;
                  left: 0;
                  background: #fff;
                  font-size: 12px;
                  color: #000;
              }

          h3.sd-title {
           font-weight: normal;
           text-transform: uppercase;
           text-align: center;
           color: #777;
           display: block;
           font-size: 11px;
         }

           h3.sd-title:before {
               display: none;
           }


   .sd-social-icon .sd-content ul li[class*='share-'].share-facebook a.sd-button,
   .sd-social-icon .sd-content ul li[class*='share-'].share-twitter a.sd-button,
   .sd-social-icon .sd-content ul li[class*='share-'].share-tumblr a.sd-button,
   .sd-social-icon .sd-content ul li[class*='share-'].share-pinterest a.sd-button,
   .sd-social-icon .sd-content ul li[class*='share-'].share-press-this a.sd-button,
   .sd-social-icon .sd-content ul li[class*='share-'].share-linkedin a.sd-button,
   .sd-social-icon .sd-content ul li[class*='share-'].share-google-plus-1 a.sd-button,
   .sd-social-icon .sd-content ul li[class*='share-'].share-flickr a.sd-button,
   .sd-social-icon .sd-content ul li[class*='share-'].share-reddit a.sd-button,
   .sd-social-icon .sd-content ul li[class*='share-'].share-pocket a.sd-button,
   .sd-social-icon .sd-content ul li[class*='share-'].share-jetpack-whatsapp a.sd-button,
   .sd-social-icon .sd-content ul li[class*='share-'].share-print a.sd-button,
   .sd-social-icon .sd-content ul li[class*='share-'].share-telegram a.sd-button,
   .sd-social-icon .sd-content ul li[class*='share-'].share-skype a.sd-button,
   .sd-social-icon .sd-content ul li[class*='share-'].share-email a.sd-button,
   .sd-social-icon .sd-content ul li a.sd-button.share-more {
     color: #000 !important;
     background: none;
     padding: 14px 10px;
     box-shadow: none !important;
     border: none !important;
     margin: 0;
   }


    .sd-social-official li {
        box-shadow: none;
        margin-right: 1em;

        -webkit-box-flex: 0;
        -moz-box-flex: 0;
        -webkit-flex-grow: 0;
        flex-grow: 0;
        -ms-flex-positive: 0;
      }

     .sd-social-official ul {
        border-width: 0;
        line-height: 1;
      }


    }

}

  @media (min-width: 768px) {
    .wpz-float-sharing .sharedaddy .sd-social-icon-text span {
        display: inline-block;
    }
  }

  @media (min-width: 768px) {


    .singular.layout-entry-sidebar .wpz-float-sharing .sharedaddy .sd-social-icon,
    .singular.layout-entry-sidebar .wpz-float-sharing .sharedaddy .sd-social-icon-text {
        position: absolute;
        top: 40px;
        left: 0;
    }

    .singular.layout-entry-sidebar .wpz-float-sharing .sharedaddy .sd-social-icon ul,
    .singular.layout-entry-sidebar .wpz-float-sharing .sharedaddy .sd-social-icon-text ul{
        background-color: #fff;
        flex-direction: column;
        width: 70px;

        -webkit-box-direction: normal;
        -moz-box-direction: normal;
        -webkit-box-orient: vertical;
        -moz-box-orient: vertical;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
    }

    .singular.layout-entry-sidebar .wpz-float-sharing .sharedaddy .sd-social-icon .sharing-hidden,
    .singular.layout-entry-sidebar .wpz-float-sharing .sharedaddy .sd-social-icon-text .sharing-hidden{
        position: relative;
        top: -50px;
        left: 69px;
        z-index: 90;
    }

    .singular.layout-entry-sidebar .wpz-float-sharing .sharedaddy .sd-social-icon .sharing-hidden ul,
    .singular.layout-entry-sidebar .wpz-float-sharing .sharedaddy .sd-social-icon-text .sharing-hidden ul {
        flex-direction: row;
        width: 100%;

        -webkit-box-direction: normal;
        -moz-box-direction: normal;
        -webkit-box-orient: horizontal;
        -moz-box-orient: horizontal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
    }
  }
