/* Hides navigation links and site footer when infinite scroll is active */

.infinite-scroll {
  .navigation {
    display: none;
  }
  &:not(.infinity-end):not(.neverending) #recent-posts {
    margin-bottom: 40px;
    position: relative;
  }
  #infinite-handle {
    left: 0;
    right: 0;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    text-align: center;
    span {
      display: block;
      width: 100%;
      line-height: 50px;
      color: #fff;
      transition: 0.2s ease all;
      text-transform: uppercase;
      font-size: 16px;
      font-weight: bold;
      button {
        transition: none;
        text-transform: uppercase;
        font-family: $font__narrow !important;
        font-weight: normal !important;
      }
    }
  }
}