// Keyframes
=keyframes($name)
  @-webkit-keyframes #{$name}
    @content
  @-moz-keyframes #{$name}
    @content
  @-ms-keyframes #{$name}
    @content
  @keyframes #{$name}
    @content

+keyframes(animate-gone)
  0%
    width: 50%
  50%
    width: 50%
  100%
    width: 0
+keyframes(progress-bar)
  0%
    width: 300px
    margin-left: -151px
  70%
    width: 300px
    margin-left: -151px
  100%
    width: 0
    margin-left: -1px

+keyframes(progress)
  0%
    left: calc(50% - 1px)
    width: 2px
  50%
    left: calc(50% - 1px)
    width: 2px
  100%
    left: 0
    width: 100%

+keyframes(logotype)
  0%
    margin-bottom: 60px
  70%
    margin-bottom: 60px
  100%
    margin-bottom: -250px
+keyframes(logotype-wrapper)
  0%
    margin-top: 0
  65%
    margin-top: 0
  100%
    margin-top: 180px

+keyframes(fade-in)
  100%
    opacity: 1
+keyframes(ltr-main-logo)
  0%
    width: 0
  75%
    width: 0
  100%
    width: calc(33vh * 0.89)