html
 font-size: 62.5% // 10px
 overflow-x: hidden

body
 font-family: $mainFont
 line-height: 1.4
 overflow-x: hidden
 backface-visibility: hidden
 text-rendering: optimizeSpeed
 -webkit-font-smoothing: subpixel-antialiased

a
 transition: all .3s

a, a:hover, a:focus, a:active
 text-decoration: none

ul
 padding: 0
 margin: 0
 li
  list-style-type: none

.clearfix::after
 display: block
 content: ""
 clear: both

.page-wrap
 .inner-wrap
  padding-left: 15px
  padding-right: 15px
  &.full-width
   max-width: none
   padding-left: 0
   padding-right: 0

.site-main
 & > .inner-wrap
  padding-bottom: 58px

.inner-content
 +_media-xs
  padding: 80px 0 70px

.text
 &-center
  text-align: center
 &-left
  text-align: left
  text-align: start
 &-right
  text-align: right
  text-align: end

.twocol-container
 padding: 40px 15px
 +_media-val-up(1200px)
  width: 58rem
  padding: 67px 80px 80px 0

 &-right
  +_media-val-up(1200px)
   padding: 67px 0 80px 80px
