.btn
 padding: 13px 27.5px
 text-transform: uppercase
 border-radius: 0
 font-size: 1.6rem
 text-align: center
 letter-spacing: 2px
 background-color: $color__background-button
 font-family: $mainFont
 &:hover
  background-color: $primary_color
  color: $color__button
 &:focus, &:active
  background-color: $alt_color
  color: $color__button
 +_media-xs
  width: 100%
  display: block

.readmore_button
 a
  @extend .btn

.infinite-scroll
 #infinite-handle
  span
   background-color: transparent
   display: inline-block
   color: $alt_color
   width: auto
   line-height: 60px
   button
    font-family: $mainFont !important
    position: relative
    letter-spacing: 2px
    &:before
     content: "\f175"
     font: normal normal normal 21px/1 FontAwesome
     color: $alt_color
     position: absolute
     left: 0
     right: 0
     bottom: -15px
   &:hover
    background-color: transparent
    color: $primary_color
    &:before
     color: $alt_color