@font-face
  font-family: 'latoblack'
  src: url('../fonts/lato-black-webfont.woff2') format('woff2'), url('../fonts/lato-black-webfont.woff') format('woff')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'latobold'
  src: url('../fonts/lato-bold-webfont.woff2') format('woff2'), url('../fonts/lato-bold-webfont.woff') format('woff')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'latolight'
  src: url('../fonts/lato-light-webfont.woff2') format('woff2'), url('../fonts/lato-light-webfont.woff') format('woff')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'latoregular'
  src: url('../fonts/lato-regular-webfont.woff2') format('woff2'), url('../fonts/lato-regular-webfont.woff') format('woff')
  font-weight: normal
  font-style: normal

html
 font-size: 62.5% // 10px

body
 font-size: 1.6rem
 font-family: $mainFont

.page h1.entry-title, 
.single h1.entry-title
 font-family: $mainFontBlack

h1, .h1, h2, .h2, h3, .h3, h4, .h4
 margin: 0
 text-transform: uppercase
 font-family: $mainFontBlack
 color: $color__header-font
 letter-spacing: 0.4px

h1, .h1
 font-size: 4rem
 margin-bottom: 2rem
 +_media-xs
  font-size: 2.6rem

h2, .h2
 font-size: 2.6rem
 margin-bottom: 2rem

h3, .h3
 font-size: 2rem
 line-height: 1.7

h4, .h4

p
 font-size: 1.6rem
 line-height: 2.4rem
 color: $color__font-light

main
 a
  color: $alt_color
  border-bottom: 1px solid $alt_color
  &:hover
   border-bottom-color: transparent
   color: $primary_color