$btn_width: 140px

.wpcf7-form-control-wrap
 position: static
 display: block
 margin-bottom: 27px
 +_media-sm-up
  margin-bottom: 30px
 

span.wpcf7-not-valid-tip
 position: absolute
 left: 0
 right: 0

div.wpcf7 .ajax-loader
 display: none

.b_form
 margin-top: 28px
 p
  margin: 0
 +input_fields
  border: 1px solid $alt_color
  background-color: transparent
  box-shadow: none
  font-size: 1.8rem
  padding: 12.5px 14px
  position: relative
  color: $alt_color
  resize: none
  width: 100%
  max-height: 104px
  &:hover
   border-color: $primary_color
  &:focus
   outline: none
   border-color: $primary_color

 +input_submits
  padding: 14px 19px 16px
  text-transform: uppercase
  border-radius: 0
  font-size: 1.6rem
  letter-spacing: 2px
  background-color: $color__background-button
  width: 100%
  max-width: 160px
  &:hover
   background-color: $primary_color
  &:focus, &:active
   outline: none
   background-color: $alt_color
  
 // horizontal form
 &-horizontal
  +input_fields
   max-width: 290px
   top: 1.5px
  +input_submits
   display: block
   width: 100%
   max-width: none
   &:hover
    background-color: $alt_color
   +_media-sm-up
    display: inline-block
    width: $btn_width

  .wpcf7-form-control-wrap
   display: inline-block
   +_media-sm-down
    margin-bottom: 15px
 // light form
 &-light
  +input_fields
   border-color: $color__form-light
  +_placeholder
   color: $alt_color

// footer form
.b_footer
 .b_form
  margin: 21px 0 38px
  +_media-sm-up
   margin-top: 7px
  +input_fields
   border-color: $primary_color
   color: $color__background-body
   &:hover, &:focus
    border-color: $alt_color
    background-color: $alt_color
  +input_submits
   color: $alt_color
   &:hover
    color: $alt_color
    background-color: $primary_color
  .wpcf7-form-control-wrap
   +_media-sm-up
    width: calc(100% - 140px)
