.woocommerce nav.woocommerce-pagination ul {
  border: none;
  font-size: 18px;
  li {
    border: none;
    a, span {
      color: #666;
    }
    a {
      &:focus, &:hover {
        background: none;
        color: #000;
      }
    }
    span.current {
      background: none;
      color: #000;
    }
  }
}

/* WooCommerce Cart Icon */

a.cart-button {
  &:before {
    content: "\f174";
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    font: normal 20px/20px 'dashicons';
    vertical-align: middle;
    margin: 0 8px 0 0;
  }
  display: block;
}

.shop-wrapper {
  overflow: hidden;
}

.woocommerce-cart table.cart td.actions .coupon .input-text {
  padding: 7px 10px;
  margin-right: 10px;
  border-color: #DEE3E7;
}

.woocommerce {
  .entry-content > * {
    max-width: 100%;
  }
  h1.entry-title {
    margin-bottom: 20px;
    font-size: 30px;
  }
  table.shop_table td {
    padding: 20px 15px;
  }
}

.woocommerce-checkout #payment {
  ul.payment_methods li {
    list-style-type: none;
  }
  background: #F7F8FA;
  border: 1px solid #DEE3E7;
  div.payment_box:after {
    display: none;
  }
  ul.payment_methods {
    border-bottom-color: #DEE3E7;
  }
}

.wc_payment_method label {
  display: inline-block;
}

.woocommerce {
  .woocommerce-ordering, .woocommerce-result-count {
    font-size: 14px;
  }
  .woocommerce-ordering {
    color: #171615;
  }
  ul.products li.product {
    .product-thumb {
      margin: 0 0 15px;
      a {
        display: block;
        padding: 0;
        margin: 0;
        img {
          margin: 0;
        }
      }
    }
    text-align: center;
  }
  .products .star-rating {
    display: none;
  }
  ul.products li.product {
    h3 {
      padding-top: 0;
      &:hover {
        color: $color__background-button-hover;
      }
    }
    .price {
      color: #444;
      margin: 0;
      font-size: 16px;
    }
  }
  #respond input#submit, a.button, button.button, input.button {
    font-weight: 600;
    color: #fff !important;
    padding: 10px 25px;
    border-radius: 0;
  }
  #respond input#submit:hover, a.button:hover, button.button:hover, input.button:hover {
    color: #fff;
  }
}

.woocommerce-message, .woocommerce-info {
  border-top-color: $color__background-button;
  &:before {
    color: #000;
  }
}

.woocommerce {
  #respond input#submit.alt, a.button.alt, button.button.alt, input.button.alt {
    &.disabled {
      background-color: #676c71;
      &:hover {
        background-color: #676c71;
      }
    }
    &:disabled {
      background-color: #676c71;
      &:hover {
        background-color: #676c71;
      }
      &[disabled] {
        background-color: #676c71;
        &:hover {
          background-color: #676c71;
        }
      }
    }
  }
  #respond input#submit.alt, a.button.alt, button.button.alt, input.button.alt {
    background: $color__background-button;
  }
  #respond input#submit.alt:hover, a.button.alt:hover, button.button.alt:hover, input.button.alt:hover {
    background: $color__background-button-hover;
  }
  div.product {
    p.price, span.price {
      color: #444;
    }
    .product_title {
      text-align: left;
    }
  }
  .quantity .qty {
    padding: 8px 6px;
    border-radius: 0;
    margin-right: 10px;
  }
  div.product .woocommerce-tabs ul.tabs {
    li {
      border-radius: 0;
      margin: 0 5px;
      border-color: #DEE3E7;
      background: #F7F8FA;
      a {
        font-weight: normal;
        font-size: 16px;
      }
    }
    &:before {
      border-color: #DEE3E7;
    }
    li {
      &.active {
        &:before, &:after {
          display: none;
        }
      }
      &:before, &:after {
        display: none;
      }
    }
  }
}

.woocommerce-tabs #comments {
  max-width: 100%;
  padding: 0;
}

.woocommerce table.shop_table td {
  padding: 20px 15px;
}

.woocommerce nav.woocommerce-pagination {
    margin-bottom: 30px;
}

.woocommerce nav.woocommerce-pagination ul {
  border: none;
  font-size: 18px;
  li {
    border: 1px solid #eee;
    margin: 0 6px;
    a, span {
      color: #666;
      padding: 13px 16px;
    }
    a {
      &:focus, &:hover {
        background: $color__background-button;
        color: #fff;
      }
    }
    span.current {
      background: $color__background-button;
      color: #fff;
    }
  }
}

.wc_cat_count { opacity: .8; font-weight: normal; }