/*********************************************************************************************

10. Footer

*********************************************************************************************/

.site-footer {
  font-size: 18px;
  background: $color__background-footer;
  color: #87888a;

  a {
    color: #fff;
  }
}

.site-info {
  padding: 30px 0 60px;
   text-align: center;
  font-size: 16px;
  a {
    font-weight: 500;
  }
  &:before {
    content: " ";
    display: table;
  }
  &:after {
    content: " ";
    display: table;
    clear: both;
  }
  .copyright {
    margin: 0;
  }
  .designed-by {
    margin: 15px 0 0;
    text-align: center;
  }
}


.footer-title {
    font-size: 40px;
    font-weight: bold;
    margin: 10px 0 25px;
    text-transform: uppercase;
    font-family: $font__narrow;
}

.footer-menu {
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    padding: 0 0 30px;
    text-transform: uppercase;
    font-family: $font__headings;
}

.site-copyright {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding-top: 30px;
}

.footer-menu ul {
    margin:0;
}

.footer-menu ul li {
    display: inline;
    margin: 0 10px;
}
