/* Logo Styles */

.brand-wrap {
  font-size: 0;
}

.adv {
    display: block;
    text-align: center;
    width: 100%;
    margin-bottom: 30px;
}

.navbar-brand-wpz {
  margin: 105px 0 40px;
  text-align: center;

  img {
    max-width: 100%;
    height: auto;
  }
  h1 {
    font-weight: 500;
    font-family: $font__narrow;
    line-height: 1;
    font-size: 70px;
    text-transform: uppercase;
    margin: 0 0 10px;

  }
  a {
    &:hover {
      text-decoration: none;
    }
  }
  .tagline {
    font-size: 18px;
    color: #afafaf;
    margin: 0;
  }
}


.adv_side {
  text-align: center;
  margin: 0 0 20px;
}

.adv_content {
  margin: 0 0 50px;
  text-align: center;
}

.single .adv_content {
  margin: 20px 0;
}