.site-main {
  &:before {
    content: " ";
    display: table;
  }
  &:after {
    content: " ";
    display: table;
    clear: both;
  }
}

/* Widgets on Homepage below Slideshow */

.home-widgetized-sections {
  padding: 0;
}

.home-widgetized-sections:after {
    display: block;
    width: 150px;
    margin: 20px auto 60px;
    height: 2px;
    background: #eee;
    content: "";
}

/* by default there are 4 widgets */

.site-widgetized-section .widgets .widget {
  /* restore font size cleared because of inline-block */
  font-size: 16px;
  width: 100%;
  margin-right: 0;
}

/* Homepage Widgets */
.column-widgets {
    font-size: 0;
}

.column-widgets .widget-column {
    display: inline-block;
    vertical-align: top;
    width: 31%;
    margin: 0 3.5% 0 0;
    font-size: 16px;
}

.column-widgets .widget-column:nth-child(3n+3) {
    margin-right: 0;
}

.column-widgets .widget-column img {
    max-width: 100%;
    height: auto;
}

.column-widgets:after {
    display: block;
    width: 150px;
    margin: 10px auto 40px;
    height: 2px;
    background: #eee;
    content: "";
}