.shop-wrapper.side-right {
  float: left;
  width: 65.79%;
}

.full-width .content-area, .content-area.full-layout {
  width: 100%;
  float: none;
}

.sidebar-left .content-area {
  float: right;
}





/* Template: Archives */
h3.archive_year {
    font-size: 24px;
    margin-top: 35px;
}

#archives .archives_list {
    border-left: 1px dotted #e6e6e6;
    list-style: none;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin: 0 0 15px 15px;
}

#archives .archives_list li {
    clear: left;
    padding-left: 24px;
    font-style: normal;
    list-style: none;
    margin-bottom: 10px;
}

#archives .archives_list .date {
    color: #808080;
    width: 15%;
    display: inline-block;
    vertical-align: top;
}

#archives .archives_list .linked {
    width: 65%;
    display: inline-block;
    vertical-align: top;
}

#archives .archives_list .comments {
    width: 17%;
    display: inline-block;
    vertical-align: top;
    color: #808080;
    float: right;
    font-size: 16px;
}

#archives .archives_list .comments a {
    color: #808080;
    font-weight: normal;
}

#archives .archives_list .comments a:hover {
    text-decoration: none;
    color: #333;
}