doctype html
html(lang="en")
    head
        meta( charset = "utf-8" )
        meta( name="viewport", content="width=device-width, height=device-height, initial-scale=1.0" )
        meta( name="HandheldFriendly", content="True" )
        meta( name="apple-mobile-web-app-capable", content="yes" )
        meta( name="theme-color", content="#131313" )
        meta( name="msapplication-navbutton-color", content="#131313" )
        meta( name="apple-mobile-web-app-status-bar-style", content="#131313" )

        //- bootstrap
        link( rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ", crossorigin="anonymous")
        //- stylesheet
        link( rel="stylesheet", href="assets/css/main.min.css" )

        title GOODDAY

    body.homepage
        #preloader
            .preloader-logo-wrapper
                .logo
                    img.gold( src="assets/img/icons/logo_gold.svg" )
                .progress-bar
                    .progress
            .left
                .logo
                    img.b-n-w( src="assets/img/icons/logo_black.svg" )
                .progress-bar
            .right
                .logo
                    img.b-n-w( src="assets/img/icons/logo_black.svg" )
                .progress-bar

        #loader
            .logo
                .b-n-w-wrapper
                    img.b-n-w( src="assets/img/icons/logo_black.svg" )
                .gold-wrapper
                    img.gold( src="assets/img/icons/logo_gold.svg" )

        #the-modal.modal.fade( role="dialog", data-backdrop="static", data-keyboard="false" )
            .modal-dialog

                //-- Modal content
                .modal-content
                    .modal-body
                        h2 GOOD THINGS

                        .border-top-bottom ...COME TO THOSE WHO <br /> SIGN UP FOR OUR EMAILS

                        p be the first to know when we launch & get instant access to goodday blog

                        form
                            input(type="email", placeholder="EMAIL")
                            button(type="btn") SUBMIT


        //- jquery
        script( src="https://code.jquery.com/jquery-3.2.1.min.js", integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=", crossorigin="anonymous" )
        //- tether for bootstrap
        script( src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" )
        //- bootstrap
        script( src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js", integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn", crossorigin="anonymous")
        //- js
        script(src="assets/js/main.min.js", type="text/javascript")