@font-face {
  font-family: 'indigo';
  src:  url('fonts/indigo.eot');
  src:  url('fonts/indigo.eot') format('embedded-opentype'),
    url('fonts/indigo.ttf') format('truetype'),
    url('fonts/indigo.woff') format('woff'),
    url('fonts/indigo.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'indigo' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-googleplus:before {
  content: "\e042";
}
.icon-twitter:before {
  content: "\e600";
}
.icon-facebook:before {
  content: "\e601";
}
.icon-pinterest:before {
  content: "\e603";
}
.icon-search:before {
  content: "\e901";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-close:before {
  content: "\e900";
}
