/* Headings */

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  line-height: 1.1;
  color: #000;
}

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
  font-weight: normal;
  line-height: 1;
}

h1 small, h2 small, h3 small {
  font-size: 65%;
}

h4 small, h5 small, h6 small {
  font-size: 75%;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 14px;
}

h6 {
  font-size: 12px;
}


.header-archive {
    padding: 20px 30px;
    background: #121516;
    margin: 0 0 40px;
    font-size: 14px;
    color: #777;
    text-align: center;

    .section-title {
        color: #fff;
        font-size: 22px;
        font-weight: 600;
        text-transform: uppercase;
        font-family: $font__alt;
        text-align: center;
        border: none;
        padding: 0;
        margin: 10px 0;
    }
}


.content-area .widget .title,
.section-title {
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
    font-family: $font__narrow;
    border-bottom: 2px solid #222;
    padding: 0 0 20px;
    margin: 0 0 30px;
}

.section-title.full-title {
    text-align: center;
}

.full-layout .section-title {
    text-align: center;
}