/* Default Color Scheme */
a
 color: $color__link

a:hover, a:focus
 color: $primary_color

div.navigation
 span
  &.current
   color: $color__link

div.navigation
 a
  &:hover
   color: $primary_color

.sb-search
 .sb-icon-search
  &:hover
   color: $primary_color

.wpzoom-media-widget
 .post_thumb_withbg:hover h3.title
  color: $primary_color
    

.section-footer .zoom-instagram-widget a.ig-b-v-24:hover
 color: $primary_color

.navbar-wpz >
 .current-menu-item > a, .current_page_item > a
  color: $color__link
  position: relative
  &:before
   content: ''
   position: absolute
   bottom: 4px
   height: 7px
   background-color: rgba($primary_color, .7)
   left: -8px
   right: -8px

.navbar-nav .current-menu-item > a,
.navbar-nav .current_page_item > a,
.navbar-nav .current-menu-parent > a
 color: $primary_color

.navbar-wpz
 ul
  a
   &:hover
    color: $primary_color
    

/* Top menu */
.top-navbar
 a
  &:hover
   color: $primary_color

button,
input[type="button"],
input[type="reset"],
input[type="submit"]
 background-color: $color__background-button
 color: $color__button
 &:hover
  background: $color__background-button-hover
  color: $color__button-hover

.slides
 li
  .slide_button
   a
    background: #000
    color: #fff
    &:hover, &:active
     color: $primary_color
     background: #111
            
.slide-indigo
 .slides li
  h3 a
   color: #fff
   .cat-links a
    color: #fff
    background: #000
    &:hover
     color: $primary_color

.site-footer
 a
  &:hover
   color: $primary_color
 input
   &[type=button], &[type=reset], &[type=submit]
    background: $primary_color
 input
  &[type=button]:hover, &[type=reset]:hover, &[type=submit]:hover
   background: $alt_color
    
#sidebar
 .widget.widget_wysija .title
  background: $primary_color
    
.widget_wysija .wysija-submit
 background: $primary_color

.single
 .cat-links a
  &:hover
   color: $primary_color

.readmore_button
 a
  &:hover
   color: $primary_color
    
.infinite-scroll
 #infinite-handle
  span
   background-color: #121516
   &:hover
    background: $color__background-button-infinite-hover

.cat-links a:hover
 color: $primary_color

.entry-content a
 color: $primary_color

.tag_list a:hover
 color: $primary_color

.author_links a:hover, .author_links a:active
 color: $primary_color

.author_links a:hover:before
 color: $primary_color

.zoom-twitter-widget a
 color: $primary_color

.zoom-twitter-widget a:hover
 color: $alt_color

.zoom-twitter-widget time:hover
 color: $alt_color

.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button
 background: $color__background-button


.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt
 background: $color__background-button

.woocommerce ul.products li.product h3:hover
 color: $primary_color

.woocommerce
 #respond input#submit:hover, a.button:hover, button.button:hover, input.button:hover
  background: $color__background-button-hover !important

.single #jp-relatedposts .jp-relatedposts-items-visual h4.jp-relatedposts-post-title a:hover
 color: $primary_color