.home-widgetized-sections
 margin-top: -100px
 +_media-sm-up
   margin-top: -95px
 .widget
  margin-bottom: 13px
  +_media-sm-up
   margin-bottom: 82px
 &:after
  display: none

.home_news
 &_title
  font-family: $mainFontBold
  border: none
  position: relative
  &:before
   content: ''
   position: absolute
   bottom: 0
   left: 0
   height: 1px
   width: 200%
   background-color: rgba($alt_color, .2)