.page
 &-content
  padding: 68px 0
 &-subtitle
  color: $primary_color
  padding-bottom: 20px
  border-bottom: 1px solid rgba($alt_color, .2)
  font-family: $mainFontBlack
  margin-bottom: 20px
  letter-spacing: 2px
 &-quote
  color: $primary_color
  font-size: 1.7rem
  max-width: 500px
  font-style: italic
  font-weight: $bold
  position: relative
  margin-top: 30px
  &:before, &:after
   content: ''
   position: absolute
   width: 33px
   height: 33px
  &:before
   left: -50px
   top: 0
   background: url("../img/icons/quote-left.png") no-repeat center center
   background-size: cover
  &:after
   right: -10px
   bottom: 0
   background: url("../img/icons/quote-right.png") no-repeat center center
   background-size: cover