button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: none;
	padding: 12px 15px;
    transition: 0.2s ease all;
    font-weight: 600;
    border-radius: 0;
    width: auto;
}