input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
    color: $color__text-input;
    border: 1px solid $color__border-input;
    padding: 10px 12px;
    transition: 0.2s ease all;
    border-radius: 0;
    background: #fff;
    width: auto;
    box-shadow: inset 0 7px 7px -7px #dcdcdc;

    &:focus {
        border-color: $color__border-input-focus;
    }
}

select {
    border: 1px solid $color__border-input;
    color: #000;
}

textarea {
    width: 100%;
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: 500;
}


.site-footer {

  button {
    color: white;
  }
  input {
    &[type=button], &[type=reset], &[type=submit] {
      color: white;
    }
  }
  button:hover {
    color: #fff;
  }
  input {
    &[type=button]:hover, &[type=reset]:hover, &[type=submit]:hover {
      color: #fff;
    }
  }
}
