/*
Theme Name: Indigo
Description: Used to style the TinyMCE editor.
*/


body {
    color: #444;
    font-size: 18px;
    line-height: 1.7;
    max-width: 800px;
    margin: 20px 40px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif
}

a {
    color: #f45900;
    text-decoration: none;
    font-weight: 600;
}

h1,
h2,
h3,
h4,
h5 {
    color: #222;
}

.aligncenter { display: block; margin-left: auto; margin-right: auto; }
.alignleft { float:left; margin:5px 10px 5px 0; }
.alignright { float:right; margin:10px 0px 10px 15px; }

.gallery-caption,
.wp-caption-dd {
    color: #868686;
    margin: 0;
    padding: 15px 0;
    text-align: center;
    display: block;
    font-style: italic;
    line-height: 1.4;
    font-size: 16px;
}

blockquote {
  font-size: 22px;
  margin: 15px 0 40px;
  text-align: center;
  position: relative;
}

blockquote:before,
blockquote:after {
  content: "";
  display: block;
  width: 60px;
  height: 1px;
  margin: 30px auto;
  background: rgba(0, 0, 0, 0.07); }