.homepage
  height: 100vh
  background: $almost-black url(../img/backgrounds/bg.jpg)
  background-size: cover
  position: relative
  font-family: "Lato", sans-serif

  #preloader
    position: absolute
    top: 0
    right: 0
    bottom: 0
    left: 0
    width: 100%
    height: 100%
    z-index: 2
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    animation: preloader-gone 9s

    img
      &.b-n-w, &.gold
        width: 90px
        margin-bottom: 60px
    .progress-bar
      display: block
      height: 3px
      width: 0

    .preloader-logo-wrapper
      position: absolute
      left: calc(50% - 45px)
      bottom: calc(50% + 3px)
      margin-bottom: calc(-100.875px / 2)

      .logo
        overflow: hidden
        margin-top: 150px
        animation: logotype-wrapper 8s
        line-height: 0

        img
          &.gold
            margin-bottom: -250px
            animation: logotype 8s

      .progress-bar
        display: block
        position: absolute
        left: calc(50% - 1px)
        bottom: 0
        background-color: black
        width: 0
        animation: progress-bar 8s
        margin-left: -1px
        animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1)


        &:after
          display: block
          content: ' '
          position: absolute
          top: 0
          left: 0
          height: 100%
          width: 100%
          background-color: $gold
          animation: progress 7s
          animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1)
    .left, .right
      position: absolute
      top: 0
      bottom: 0
      width: 0
      height: 100%
      background-color: $dark-gray
      overflow: hidden
      animation: animate-gone 4s
      animation-timing-function: ease-in

      .progress-bar
        visibility: hidden
      .logo
        display: block
        height: max-content
        width: max-content
        position: absolute
        bottom: calc(50% + 3px)
        margin-bottom: calc(-100.875px / 2)

    .left
      left: 0

      .logo
        left: calc(50vw - 45px)

    .right
      right: 0

      .logo
        right: calc(50vw - 45px)


  #loader
    opacity: 0
    display: block
    position: absolute
    top: 0
    right: 0
    bottom: 0
    left: 0
    width: 100%
    height: 100%
    z-index: 1

    &.fade-in
      animation: fade-in .4s ease-in 1 forwards
    .logo
      position: absolute
      display: block
      left: 0
      right: 0
      top: calc(50% - 33vh / 2)
      height: 33vh
      width: 100%

      img
        height: 33vh

      .b-n-w-wrapper, .gold-wrapper
        position: absolute
        top: 0
        bottom: 0
        left: calc(50% - 33vh * 0.89 / 2)
        width: max-content

      .gold-wrapper
        width: max-content
        overflow: hidden
        animation: ltr-main-logo 12s ease-in 1 forwards

  #the-modal
    .modal-dialog
      height: 444px
      margin-top: calc(50vh - 222px)
      width: 550px
      max-width: 100%

      @media (max-width: 767px)
        width: initial
        max-width: 290px
        height: 434px
        margin: calc(50vh - 217px) auto
      @media (max-width: 767px) and (orientation: landscape)
        margin-top: initial
        margin-bottom: initial


      .modal-content
        height: 100%
        background: linear-gradient(to bottom, #c0a163 0%,#e0c887 25%,#e9d492 50%,#e0c887 75%,#c0a163 100%)
        padding: 10px
        border-radius: 0

        @media (max-width: 767px)
          padding: 5px

        .modal-body
          padding: 50px
          height: 100%
          width: 100%
          background-color: $milkey
          text-align: center

          @media (max-width: 767px)
            padding: 40px 18px

          h2
            font-size: 45px
            line-height: .75
            letter-spacing: .5px
            word-spacing: 2px
            font-weight: 900
            margin-bottom: 33px

            @media (max-width: 767px)
              font-size: 30px
              margin-bottom: 24px

          .border-top-bottom
            font-size: 26px
            line-height: 1.25
            font-weight: 700
            padding: 15px 0 12px
            margin-bottom: 26px
            border-top: 1px solid grey
            border-bottom: 1px solid grey
            width: 100%

            @media (max-width: 767px)
              font-size: 18px
              padding: 19px 0
              margin-bottom: 18px
              line-height: 1.22

          p
            font-size: 20px
            line-height: 1.45
            font-weight: 400
            text-transform: uppercase
            letter-spacing: -.02px
            margin-bottom: 28px

            @media (max-width: 767px)
              font-size: 16px
              line-height: 1.4
              margin-bottom: 20px
              letter-spacing: .4px

          form
            height: 50px
            width: 100%

            @media (max-width: 767px)
              height: auto

            input
              width: calc(100% - 130px)
              height: 100%
              margin-right: -4px
              background-color: transparent
              border: 1px solid black
              padding: 0 20px
              vertical-align: top
              border-radius: 0
              font-size: 20px
              line-height: 60px

              @media (max-width: 767px)
                width: 100%
                margin-right: 0
                height: 45px
                margin-bottom: 20px
                padding: 0 23px
                font-size: 16px
                line-height: 45px


            button
              height: 100%
              width: 130px
              border: 1px solid black
              background-color: black
              color: $milkey
              font-weight: 700
              vertical-align: top
              font-size: 20px
              border-radius: 0

              @media (max-width: 767px)
                width: auto
                padding: 0 20px
                height: 45px
                font-size: 16px
