/* Menu */

.sf-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  * {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  li {
    position: relative;
  }
  ul {
    position: absolute;
    display: none;
    top: 100%;
    left: 0;
    z-index: 99;
  }
  > li {
    float: left;
  }
  li {
    &:hover > ul, &.sfHover > ul {
      display: block;
    }
  }
  a {
    display: block;
    position: relative;
  }
  ul ul {
    top: 0;
    left: 100%;
  }
}

.sf-arrows {
  .sf-with-ul:after {
    content: "\f347";
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    font: 16px/16px 'dashicons';
    vertical-align: middle;
    margin: 0 0 0 4px;
  }
  ul {
    .sf-with-ul:after, {
      content: "\f345";
      display: inline-block;
      -webkit-font-smoothing: antialiased;
      font: normal 12px/22px 'dashicons';
      float: right;
      vertical-align: middle;
      margin: 2px 0 0 4px;
    }
    li {
      > .sf-with-ul:focus:after, &:hover > .sf-with-ul:after {
        border-left-color: white;
      }
    }
    .sfHover > .sf-with-ul:after {
      border-left-color: white;
    }
  }
}

.navbar-wpz {
  position: relative;
  z-index: 100;
  > li {
    padding: 0 15px;
    &:first-child {
      padding-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
  }
  a {
    padding: 8px 0;
    transition: none;
  }
  ul {
    a {
      text-align: left;
      line-height: 1.4;
      text-transform: none;
      padding: 8px 15px;
      font-size: 16px;
      color: #fff;
      letter-spacing: 0;
      font-weight: 600;
      font-family: $font__main;

 }

    background: #121516;
    text-align: left;
    margin: 0;
    padding: 8px 0;
    font-size: 16px;
    left: 2%;
    width: 220px;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);

    li {
        border-bottom: 1px solid rgba(255,255,255,.1);

        &:last-child {
            border: none;
        }
    }
    ul {
      right: 100%;
      margin-top: 0px;
    }
  }
  > li > ul {
    &:before {
      content: '';
      display: block;
      width: 0;
      height: 0;
      border-left: 7px solid transparent;
      border-right: 7px solid transparent;
      border-bottom: 7px solid #121516;
      position: absolute;
      top: -7px;
      left: 31px;
      z-index: 470;
    }
    &:after {
      content: '';
      display: block;
      width: 0;
      height: 0;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      border-bottom: 8px solid #121516;
      position: absolute;
      top: -8px;
      left: 30px;
      z-index: 460;
    }
  }
}

/* Top menu */

.top-navbar {
  padding: 10px 0;
  background: #121516;
  z-index: 900;
  font-size: 12px;
  width: 100%;
  position: fixed;

  .inner-wrap {
    position: relative;
    }

   #navbar-top {
    float: left;
    max-width: 80%;
  }

  a {
      color: #fff;
      font-weight: 600;
      letter-spacing: 1px;
      text-transform: uppercase;
      font-family: $font__alt;
  }
}

.navbar-wpz a:hover {
  text-decoration: none;
}

/* Main Menu */

.main-navbar {
      padding-bottom: 10px;
      text-align: center;
      font-family: $font__menu;
      border-bottom: 1px solid rgba(0,0,0,.06);
      margin-bottom: 30px;
      a {
          font-size: 28px;
          padding: 0;
          font-weight: normal;
          text-transform: uppercase;
      }
}

.home:not(.paged) .main-navbar {
    margin-bottom: -1px;
}


.top-navbar {
  &:before, &:after {
    content: " ";
    display: table;
  }
}

.main-navbar {
  &:before, &:after {
    content: " ";
    display: table;
  }
}

.top-navbar:after {
  clear: both;
}

.main-navbar {
  &:after {
    clear: both;
  }
  .sf-menu > li {
    display: inline-block;
    float: none;
  }
  .navbar-wpz > li:last-child {
    padding-right: 0;
  }

}

.menu_center {
    .navbar-wpz {
        text-align: center;
    }

    .slicknav_menu {
        text-align: center;
    }

    .slicknav_btn {
        float: none;
        display: inline-block;
    }
}


/* Mobile Menu Icons */

.navbar-toggle {
  display: none;
  position: relative;
  float: left;
  margin: 15px 0 15px 0;
  .icon-bar {
    display: block;
    width: 28px;
    height: 2px;
    background: #222;
  }
  &:hover .icon-bar {
    background: #555;
  }
  .icon-bar + .icon-bar {
    margin-top: 5px;
  }
}

#menu-main-slide {
    display: none !important
}

.slicknav_btn {
    position: relative;
    vertical-align: middle;
    padding: 0.438em 0.625em 0.438em 0.625em;
    line-height: 1.125em;
    cursor: pointer;
    display: inline-block;
}

.slicknav_menu {
    *zoom: 1;
    text-align: center;
}



.slicknav_menu .slicknav_menutxt {
    color: #000;
    font-weight: normal;
    font-family: $font__main;
    font-size: 18px;
    display: block;
    line-height: 100%;
    float: right;
}

.slicknav_menu .slicknav_icon {
    float: left;
    width: 1.125em;
    height: 0.875em;
    margin: 2px 7px 0 0;
}

.slicknav_menu .slicknav_no-text {
    margin: 0;
}

.slicknav_menu:before {
    content: " ";
    display: table;
}

.slicknav_menu:after {
    content: " ";
    display: table;
    clear: both;
}
.slicknav_menu .slicknav_icon {
    width: 20px;
    height: 16px;
    position: relative;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    cursor: pointer;
}

.slicknav_menu .slicknav_icon-bar {
    display: block;
    position: absolute;
    height: 1px;
    width: 100%;
    background: #d3531a;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}

.slicknav_collapsed .slicknav_icon span:nth-child(1) {
    top: 0px;
    transform-origin: left center;
}

.slicknav_collapsed .slicknav_icon span:nth-child(2) {
    top: 7px;
    transform-origin: left center;
}

.slicknav_collapsed .slicknav_icon span:nth-child(3) {
    top: 14px;
    transform-origin: left center;
}

.slicknav_open .slicknav_icon span:nth-child(1) {
    transform: rotate(45deg);
    top: 5px;
    left: 0;
}

.slicknav_open .slicknav_icon span:nth-child(2) {
    width: 0%;
    opacity: 0;
}

.slicknav_open .slicknav_icon span:nth-child(3) {
    transform: rotate(-45deg);
    top: 5px;
    left: 0;
}

.slicknav_nav {
    clear: both;
}

.slicknav_nav ul {
    display: block;
}

.slicknav_nav li {
    display: block;
    border-bottom: 1px solid rgba(0, 0, 0, .07);
    box-sizing: border-box;
    margin: 0 0 5px;
}

.slicknav_nav li:last-child {
    border: none;
}

.slicknav_nav .slicknav_arrow {
    font-size: 0.8em;
    margin: 0 10px 0 0.4em;
    padding-left: 5px;
    float: right;
    border-left: 1px solid #cecece;
}


.slicknav_nav .slicknav_arrow:after {
    content: "\f347";
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    font: 22px/16px 'dashicons';
    vertical-align: middle;
    margin: 0 0 0 4px;
}

.slicknav_nav .slicknav_item {
    cursor: pointer;
}

.slicknav_nav .slicknav_item a {
    display: inline;
}

.slicknav_nav .slicknav_row {
    display: block;
}



.slicknav_nav .slicknav_parent-link a {
    display: inline;
}

.slicknav_brand {
    float: left;
}

.slicknav_menu * {
    box-sizing: border-box;
}

.slicknav_menu .slicknav_icon-bar {
    background-color: #000;
}

.slicknav_btn {
    padding: 12px 0;
    text-decoration: none;
}

.slicknav_nav {
    color: #000;
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    border-top: 1px solid rgba(255, 255, 255, 0.07);
    border-bottom: 1px solid rgba(255, 255, 255, 0.07);
}

.slicknav_nav ul {
    list-style: none;
    overflow: hidden;
    padding: 20px 30px;
    margin: 0 0 20px;
    background: $light_color;
}

.slicknav_nav ul ul {
    padding: 0 0 0 30px;
    margin: 0;
    font-size: 14px;
}

.slicknav_nav a {
    padding: 0;
    margin: 2px 0;
    text-decoration: none;
    color: #000;
    font-size: 22px;
    text-align: left;
    display: block;
}

.slicknav_nav .slicknav_txtnode {
    margin-left: 15px;
}

.slicknav_nav .slicknav_item a {
    padding: 0;
    margin: 0;
}

.slicknav_nav .slicknav_parent-link a {
    padding: 0;
    margin: 0;
}

.slicknav_brand {
    color: #000;
    font-size: 18px;
    line-height: 30px;
    padding: 7px 12px;
    height: 44px;
}

.slicknav_menu {
    display: none;
}
