/* Navigation */

div.navigation {
  position: relative;
  text-align: center;
  margin: 0 0 50px;
  font-size: 18px;
  font-family: $font__narrow;
  a {
    display: inline-block;
    transition: all .25s ease-in-out;
    border: 1px solid #eee;
    line-height: 24px;
    padding: 7px 14px;
    margin: 0 5px;

    &:hover {
        border-color: #ccc;
    }
  }
  span {
    &.current {
      display: inline-block;
      background-color: #000;
      color: #fff;
      line-height: 24px;
      padding: 7px 15px;
      margin: 0 5px;
    }
    &.pages {
      margin-right: 15px;
      display: none;
    }
    &.dots {
      color: #999;
      line-height: 100%;
      margin: 0 5px;
    }
  }
  .alignleft, .alignright {
    margin: 0;
  }
  .prev, .next {
    position: absolute;
    transition-duration: 200ms;
    font-size: 20px;
    border: none;
    background: #f4f5f5;
    padding: 7px 20px;
  }
  .prev {
    left: 0;
  }
  .next {
    right: 0;
  }
}