/* Navbar Search Form */

.sb-search {
  float: right;
  width: 40px;
  height: 40px;
  min-width: 45px;
  position: relative;
z-index: 200;
  .sb-search-input {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    outline: none;
    width: 20px;
    height: 40px;
    margin: 0;
    z-index: 10;
    padding: 10px 65px 10px 15px;
    font-family: inherit;
    font-size: 16px;
    color: #000;
    visibility: hidden;
    opacity: 0;
    border: none;
    transition: width 0.3s;
    transition: 0.2s ease all;
    background: #fff;
    transition: width 0.6s, border-radius 0.6s, background 0.6s;
    box-shadow: none;
  }
  input[type="search"].sb-search-input {
    -webkit-appearance: none;
  }
  .sb-search-input {
    &::-webkit-input-placeholder, &:-moz-placeholder, &::-moz-placeholder, &:-ms-input-placeholder {
      color: #fff;
    }
  }
  .sb-icon-search {
    width: 40px;
    height: 40px;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    padding: 0;
    margin: 0;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
  }
  .sb-search-submit {
    width: 40px;
    height: 40px;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    padding: 0;
    margin: 0;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
    background: #fff;
    opacity: 0;
    color: #3a3d40;
    border: none;
    outline: none;
    z-index: -1;
  }
  .sb-icon-search {
    color: #fff;
    z-index: 90;
    font-size: 16px;
    font-family: 'indigo';
    speak: none;
    font-style: normal;
    font-weight: bold;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    transition: 0.2s ease all;
    &:before {
      content: "\e901";
    }
  }
  &.sb-search-open .sb-icon-search:before {
    color: #000;
    content: "\e900";
    font-family: inherit;
    font-size: 30px;
    line-height: 40px;
    font-weight: normal;
  }
}

/* Open state */

.sb-search.sb-search-open {

  .sb-search-input {
    visibility: visible;
    opacity: 1;
    width: 270px;
    transition: width 0.2s ease, background 0.2s;

  }
  .sb-icon-search {
    background: none;
    z-index: 11;
  }
}

.no-js .sb-search .sb-icon-search {
  background: none;
  z-index: 11;
}

.sb-search.sb-search-open .sb-search-submit, .no-js .sb-search .sb-search-submit {
  z-index: 90;
}