/* Featured Slider */

#slider {
  position: relative;
  overflow: hidden;
  height: 650px;
  background: #121516;
  margin: 0 0 50px;
  color: #777;
  img {
      vertical-align: top;
      width: 100%;
  }
}

.empty-slider {
  max-width: 1200px;
  margin: 20%;

  a {
    color: #fff;
  }
}

#slider {
  .slides {
    white-space: nowrap;
    overflow: hidden;
    padding: 0;
    margin: 0;
  }
  .slide {
    position: relative;
    display: inline-block;
    white-space: normal;
    width: 100%;
    height: 650px;
    overflow: hidden;
  }
  .slide-background {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 100%;
  }
  .flickity-enabled .slide {
    display: block;
  }
}

.flickity-viewport {
  cursor: move;
  cursor: -webkit-grab;
  cursor: grab;
  &.is-pointer-down {
    cursor: -webkit-grabbing;
    cursor: grabbing;
  }
}

.flickity-prev-next-button {
  display: block;
  position: absolute;
  z-index: 100;
  top: 50%;
  height: 40px;
  width: 40px;
  background: none;
  transition: all 0.3s ease-out;
  border-radius: 0;
  transform: translateY(-50%);
  background: rgba(0,0,0,0.6);
  padding: 10px;
  &:hover {
    opacity: 1;
    background: #000;
  }
  &.previous {
    left: 30px;
  }
  &.next {
    right: 30px;
  }
  svg {
    position: absolute;
    left: 25%;
    top: 25%;
    width: 50%;
    height: 50%;
  }
  path {
    opacity: 1;
    fill: #fff;
  }
  &:hover path {
    opacity: 1;
  }
  &[disabled] {
    opacity: .5;
  }
}


.flickity-prev-next-button.next svg {
    left: 20%;
}

#slider .slider-direction-nav a {
  &:focus {
    outline: 0;
  }
  &:hover, &:active {
    opacity: 1;
  }
}

.slides {

    li {

    .slide-overlay {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      height: 100%;
      background: linear-gradient(rgba(0,0,0,0.1) 0,rgba(0,0,0,.4) 100%);
      transition: all 0.3s ease;
    }

    .slide-header {
          position: relative;
          transform: translateY(-50%);
          top: 50%;
          width: 80%;
          margin: 0 10%;
          text-align: center;

          .cat-links {
            display: block;
            margin: 0 0 10px;
        }

      p {
        line-height: 1.4;
        font-size: 18px;
        color: #fff;
        a {
          font-weight: 600;
          text-decoration: underline;
          &:hover {
            text-decoration: none;
          }
        }
    }
    }

    .slide-excerpt {
        max-width: 75%;
        margin: 0 auto;
    }

    .slide_button {
      font-size: 14px;
      font-weight: 600;
      letter-spacing: 1px;
      text-align: center;
      margin:21px 0 0;
      text-transform: uppercase;
      font-family: $font__alt;
      a {
        display: inline-block;
        padding: 12px 20px;
        transition-duration: 200ms;
      }

    }

    h3 {
      font-size: 42px;
      line-height: 1.1;
      font-weight: 400;
      text-transform: uppercase;
      font-family: $font__menu;
      margin: 0 0 10px;

      &:hover {
        opacity: .8;
        }
    }

  }

  &:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
  }


}



/* ---- page dots ---- */

.flickity-page-dots {
  position: absolute;
  width: 100%;
  bottom: 25px;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
  line-height: 1;
}

.flickity-rtl .flickity-page-dots {
  direction: rtl;
}

.flickity-page-dots .dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 4px;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s ease;
  background: none;
  &:hover, &.is-selected {
    opacity: 1;
  }
}

.slide-indigo {

    .slides li {

        .cat-links a {
            padding: 6px 10px;
            font-size: 12px;
            font-weight: 600;
            margin-bottom: 10px;
            letter-spacing: 1px;
            opacity: .9;

        }

    }

    .flickity-page-dots .dot {
      background: #fff;
      opacity: .3;
      &:hover, &.is-selected {
        background: #fff;
        opacity: 1;
      }
    }

}
