// Color themes
// default orange: #f45900;
// green: #46dc99;
// purple: #5F5FE0
// pink: #FF2B80
// red: #EF002B
// brown #c39f6a
// blue: #25c6fe
// yellow: #25c6fe

$primary_color: #f45900 !default;
$primary_bg: #F8F1E3 !default;
$alt_color: #231F20 !default;
$alt_text: #a5a7ad !default;

$red: #E95053 !default;
$alt_bg: #f3ebdc !default;
$forms_bg: #f3ebdc !default;

$light_color: #f4f5f5 !default;

$color__background-body: #fff !default;

// Footer Background
$color__background-footer: #121516 !default;


// Buttons
$color__background-button: $alt_color !default;
$color__background-button-hover: $primary_color !default;


$color__button: #fff;
$color__button-hover: #fff;

// Misc.
$color__text-screen: #444444;
$color__text-input: #000;
$color__link: #222 !default;
$color__link-visited: $primary_color;
$color__link-hover: $primary_color;

$color__border-button: #000;
$color__border-button-hover: transparent;
$color__border-input: #ddd;
$color__border-input-focus: #444;
$color__border-abbr: #666;

$color__background-button-infinite-hover: $primary_color !default;

$color__background-screen: #f1f1f1;
$color__background-hr: #eee;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;