$font__main: 'Muli', serif;
$font__headings: 'Teko', sans-serif;
$font__alt: 'Montserrat', sans-serif;
$font__menu: 'Teko', sans-serif;
$font__narrow: 'Oswald', sans-serif;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;

// font-family: 'Passion One', cursive;
// font-family: 'Karla', cursive;