/* Yellow Scheme */
/* Default Color Scheme */
a {
  color: #222; }

a:hover, a:focus {
  color: #FFD400; }

div.navigation span.current {
  color: #FFD400; }

div.navigation a:hover {
  color: #FFD400; }

.sb-search .sb-icon-search:hover {
  color: #FFD400; }

.wpzoom-media-widget .post_thumb_withbg:hover h3.title {
  color: #FFD400; }

.section-footer .zoom-instagram-widget a.ig-b-v-24:hover {
  color: #FFD400; }

.navbar-wpz > .current-menu-item > a, .navbar-wpz > .current_page_item > a {
  color: #FFD400; }

.navbar-nav .current-menu-item > a,
.navbar-nav .current_page_item > a,
.navbar-nav .current-menu-parent > a {
  color: #FFD400; }

.navbar-wpz ul a:hover {
  color: #FFD400; }

/* Top menu */
.top-navbar a:hover {
  color: #FFD400; }

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  background-color: #231F20;
  color: #fff; }
  button:hover,
  input[type="button"]:hover,
  input[type="reset"]:hover,
  input[type="submit"]:hover {
    background: #FFD400;
    color: #fff; }

.slides li .slide_button a {
  background: #000;
  color: #fff; }
  .slides li .slide_button a:hover, .slides li .slide_button a:active {
    color: #FFD400;
    background: #111; }

.slide-indigo .slides li h3 a {
  color: #fff; }

.slide-indigo .slides li .cat-links a {
  color: #fff;
  background: #000; }
  .slide-indigo .slides li .cat-links a:hover {
    color: #FFD400; }

.site-footer a:hover {
  color: #FFD400; }

.site-footer input[type=button], .site-footer input[type=reset], .site-footer input[type=submit] {
  background: #FFD400; }

.site-footer input[type=button]:hover, .site-footer input[type=reset]:hover, .site-footer input[type=submit]:hover {
  background: #231F20; }

#sidebar .widget.widget_wysija .title {
  background: #FFD400; }

.widget_wysija .wysija-submit {
  background: #FFD400; }

.single .cat-links a:hover {
  color: #FFD400; }

.readmore_button a:hover {
  color: #FFD400; }

.infinite-scroll #infinite-handle span {
  background-color: #231F20; }
  .infinite-scroll #infinite-handle span:hover {
    background: #FFD400; }

.cat-links a:hover {
  color: #FFD400; }

.entry-content a {
  color: #FFD400; }

.tag_list a:hover {
  color: #FFD400; }

.author_links a:hover, .author_links a:active {
  color: #FFD400; }

.author_links a:hover:before {
  color: #FFD400; }

.zoom-twitter-widget a {
  color: #FFD400; }

.zoom-twitter-widget a:hover {
  color: #231F20; }

.zoom-twitter-widget time:hover {
  color: #231F20; }

.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button {
  background: #231F20; }

.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt {
  background: #231F20; }

.woocommerce ul.products li.product h3:hover {
  color: #FFD400; }

.woocommerce #respond input#submit:hover, .woocommerce a.button:hover, .woocommerce button.button:hover, .woocommerce input.button:hover {
  background: #FFD400 !important; }

.single #jp-relatedposts .jp-relatedposts-items-visual h4.jp-relatedposts-post-title a:hover {
  color: #FFD400; }
