@-webkit-keyframes animate-gone {
  0% {
    width: 50%; }
  50% {
    width: 50%; }
  100% {
    width: 0; } }

@keyframes animate-gone {
  0% {
    width: 50%; }
  50% {
    width: 50%; }
  100% {
    width: 0; } }

@-webkit-keyframes progress-bar {
  0% {
    width: 300px;
    margin-left: -151px; }
  70% {
    width: 300px;
    margin-left: -151px; }
  100% {
    width: 0;
    margin-left: -1px; } }

@keyframes progress-bar {
  0% {
    width: 300px;
    margin-left: -151px; }
  70% {
    width: 300px;
    margin-left: -151px; }
  100% {
    width: 0;
    margin-left: -1px; } }

@-webkit-keyframes progress {
  0% {
    left: -webkit-calc(50% - 1px);
    left: calc(50% - 1px);
    width: 2px; }
  50% {
    left: -webkit-calc(50% - 1px);
    left: calc(50% - 1px);
    width: 2px; }
  100% {
    left: 0;
    width: 100%; } }

@keyframes progress {
  0% {
    left: -webkit-calc(50% - 1px);
    left: calc(50% - 1px);
    width: 2px; }
  50% {
    left: -webkit-calc(50% - 1px);
    left: calc(50% - 1px);
    width: 2px; }
  100% {
    left: 0;
    width: 100%; } }

@-webkit-keyframes logotype {
  0% {
    margin-bottom: 60px; }
  70% {
    margin-bottom: 60px; }
  100% {
    margin-bottom: -250px; } }

@keyframes logotype {
  0% {
    margin-bottom: 60px; }
  70% {
    margin-bottom: 60px; }
  100% {
    margin-bottom: -250px; } }

@-webkit-keyframes logotype-wrapper {
  0% {
    margin-top: 0; }
  65% {
    margin-top: 0; }
  100% {
    margin-top: 180px; } }

@keyframes logotype-wrapper {
  0% {
    margin-top: 0; }
  65% {
    margin-top: 0; }
  100% {
    margin-top: 180px; } }

@-webkit-keyframes fade-in {
  100% {
    opacity: 1; } }

@keyframes fade-in {
  100% {
    opacity: 1; } }

@-webkit-keyframes ltr-main-logo {
  0% {
    width: 0; }
  75% {
    width: 0; }
  100% {
    width: -webkit-calc(33vh * 0.89);
    width: calc(33vh * 0.89); } }

@keyframes ltr-main-logo {
  0% {
    width: 0; }
  75% {
    width: 0; }
  100% {
    width: -webkit-calc(33vh * 0.89);
    width: calc(33vh * 0.89); } }

.btn, .readmore_button a, #slider .slides li .slide_button a {
  padding: 13px 27.5px;
  text-transform: uppercase;
  -webkit-border-radius: 0;
          border-radius: 0;
  font-size: 1.6rem;
  text-align: center;
  letter-spacing: 2px;
  background-color: #121212;
  font-family: "latoregular", "Lato", sans-serif; }
  .btn:hover, .readmore_button a:hover, #slider .slides li .slide_button a:hover {
    background-color: #c8a24d;
    color: #fff; }
  .btn:focus, .readmore_button a:focus, #slider .slides li .slide_button a:focus, .btn:active, .readmore_button a:active, #slider .slides li .slide_button a:active {
    background-color: #121212;
    color: #fff; }
  @media (max-width: 767px) {
    .btn, .readmore_button a, #slider .slides li .slide_button a {
      width: 100%;
      display: block; } }

.infinite-scroll #infinite-handle span {
  background-color: transparent;
  display: inline-block;
  color: #121212;
  width: auto;
  line-height: 60px; }
  .infinite-scroll #infinite-handle span button {
    font-family: "latoregular", "Lato", sans-serif !important;
    position: relative;
    letter-spacing: 2px; }
    .infinite-scroll #infinite-handle span button:before {
      content: "\f175";
      font: normal normal normal 21px/1 FontAwesome;
      color: #121212;
      position: absolute;
      left: 0;
      right: 0;
      bottom: -15px; }
  .infinite-scroll #infinite-handle span:hover {
    background-color: transparent;
    color: #c8a24d; }
    .infinite-scroll #infinite-handle span:hover:before {
      color: #121212; }

@font-face {
  font-family: 'latoblack';
  src: url("../fonts/lato-black-webfont.woff2") format("woff2"), url("../fonts/lato-black-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'latobold';
  src: url("../fonts/lato-bold-webfont.woff2") format("woff2"), url("../fonts/lato-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'latolight';
  src: url("../fonts/lato-light-webfont.woff2") format("woff2"), url("../fonts/lato-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'latoregular';
  src: url("../fonts/lato-regular-webfont.woff2") format("woff2"), url("../fonts/lato-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

html {
  font-size: 62.5%; }

body {
  font-size: 1.6rem;
  font-family: "latoregular", "Lato", sans-serif; }

.page h1.entry-title,
.single h1.entry-title {
  font-family: "latoblack", "Lato", sans-serif; }

h1, .h1, h2, .h2, h3, .h3, h4, .h4 {
  margin: 0;
  text-transform: uppercase;
  font-family: "latoblack", "Lato", sans-serif;
  color: #121212;
  letter-spacing: 0.4px; }

h1, .h1 {
  font-size: 4rem;
  margin-bottom: 2rem; }
  @media (max-width: 767px) {
    h1, .h1 {
      font-size: 2.6rem; } }

h2, .h2 {
  font-size: 2.6rem;
  margin-bottom: 2rem; }

h3, .h3 {
  font-size: 2rem;
  line-height: 1.7; }

p {
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: #4d4d4d; }

main a {
  color: #121212;
  border-bottom: 1px solid #121212; }
  main a:hover {
    border-bottom-color: transparent;
    color: #c8a24d; }

html {
  font-size: 62.5%;
  overflow-x: hidden; }

body {
  font-family: "latoregular", "Lato", sans-serif;
  line-height: 1.4;
  overflow-x: hidden;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  text-rendering: optimizeSpeed;
  -webkit-font-smoothing: subpixel-antialiased; }

a {
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s; }

a, a:hover, a:focus, a:active {
  text-decoration: none; }

ul {
  padding: 0;
  margin: 0; }
  ul li {
    list-style-type: none; }

.clearfix::after {
  display: block;
  content: "";
  clear: both; }

.page-wrap .inner-wrap {
  padding-left: 15px;
  padding-right: 15px; }
  .page-wrap .inner-wrap.full-width {
    max-width: none;
    padding-left: 0;
    padding-right: 0; }

.site-main > .inner-wrap {
  padding-bottom: 58px; }

@media (max-width: 767px) {
  .inner-content {
    padding: 80px 0 70px; } }

.text-center {
  text-align: center; }

.text-left {
  text-align: left;
  text-align: start; }

.text-right {
  text-align: right;
  text-align: end; }

.twocol-container {
  padding: 40px 15px; }
  @media screen and (min-width: 1200px) {
    .twocol-container {
      width: 58rem;
      padding: 67px 80px 80px 0; } }
  @media screen and (min-width: 1200px) {
    .twocol-container-right {
      padding: 67px 0 80px 80px; } }

.wpcf7-form-control-wrap {
  position: static;
  display: block;
  margin-bottom: 27px; }
  @media (min-width: 768px) {
    .wpcf7-form-control-wrap {
      margin-bottom: 30px; } }

span.wpcf7-not-valid-tip {
  position: absolute;
  left: 0;
  right: 0; }

div.wpcf7 .ajax-loader {
  display: none; }

.b_form {
  margin-top: 28px; }
  .b_form p {
    margin: 0; }
  .b_form input[type="text"],
  .b_form input[type="email"],
  .b_form input[type="url"],
  .b_form input[type="password"],
  .b_form input[type="search"],
  .b_form input[type="number"],
  .b_form input[type="tel"],
  .b_form input[type="date"],
  .b_form input[type="month"],
  .b_form input[type="week"],
  .b_form input[type="time"],
  .b_form input[type="datetime"],
  .b_form input[type="datetime-local"],
  .b_form input[type="color"],
  .b_form textarea {
    border: 1px solid #121212;
    background-color: transparent;
    -webkit-box-shadow: none;
            box-shadow: none;
    font-size: 1.8rem;
    padding: 12.5px 14px;
    position: relative;
    color: #121212;
    resize: none;
    width: 100%;
    max-height: 104px; }
    .b_form input[type="text"]:hover,
    .b_form input[type="email"]:hover,
    .b_form input[type="url"]:hover,
    .b_form input[type="password"]:hover,
    .b_form input[type="search"]:hover,
    .b_form input[type="number"]:hover,
    .b_form input[type="tel"]:hover,
    .b_form input[type="date"]:hover,
    .b_form input[type="month"]:hover,
    .b_form input[type="week"]:hover,
    .b_form input[type="time"]:hover,
    .b_form input[type="datetime"]:hover,
    .b_form input[type="datetime-local"]:hover,
    .b_form input[type="color"]:hover,
    .b_form textarea:hover {
      border-color: #c8a24d; }
    .b_form input[type="text"]:focus,
    .b_form input[type="email"]:focus,
    .b_form input[type="url"]:focus,
    .b_form input[type="password"]:focus,
    .b_form input[type="search"]:focus,
    .b_form input[type="number"]:focus,
    .b_form input[type="tel"]:focus,
    .b_form input[type="date"]:focus,
    .b_form input[type="month"]:focus,
    .b_form input[type="week"]:focus,
    .b_form input[type="time"]:focus,
    .b_form input[type="datetime"]:focus,
    .b_form input[type="datetime-local"]:focus,
    .b_form input[type="color"]:focus,
    .b_form textarea:focus {
      outline: none;
      border-color: #c8a24d; }
  .b_form input[type="submit"],
  .b_form button {
    padding: 14px 19px 16px;
    text-transform: uppercase;
    -webkit-border-radius: 0;
            border-radius: 0;
    font-size: 1.6rem;
    letter-spacing: 2px;
    background-color: #121212;
    width: 100%;
    max-width: 160px; }
    .b_form input[type="submit"]:hover,
    .b_form button:hover {
      background-color: #c8a24d; }
    .b_form input[type="submit"]:focus, .b_form input[type="submit"]:active,
    .b_form button:focus,
    .b_form button:active {
      outline: none;
      background-color: #121212; }
  .b_form-horizontal input[type="text"],
  .b_form-horizontal input[type="email"],
  .b_form-horizontal input[type="url"],
  .b_form-horizontal input[type="password"],
  .b_form-horizontal input[type="search"],
  .b_form-horizontal input[type="number"],
  .b_form-horizontal input[type="tel"],
  .b_form-horizontal input[type="date"],
  .b_form-horizontal input[type="month"],
  .b_form-horizontal input[type="week"],
  .b_form-horizontal input[type="time"],
  .b_form-horizontal input[type="datetime"],
  .b_form-horizontal input[type="datetime-local"],
  .b_form-horizontal input[type="color"],
  .b_form-horizontal textarea {
    max-width: 290px;
    top: 1.5px; }
  .b_form-horizontal input[type="submit"],
  .b_form-horizontal button {
    display: block;
    width: 100%;
    max-width: none; }
    .b_form-horizontal input[type="submit"]:hover,
    .b_form-horizontal button:hover {
      background-color: #121212; }
    @media (min-width: 768px) {
      .b_form-horizontal input[type="submit"],
      .b_form-horizontal button {
        display: inline-block;
        width: 140px; } }
  .b_form-horizontal .wpcf7-form-control-wrap {
    display: inline-block; }
    @media (max-width: 768px) {
      .b_form-horizontal .wpcf7-form-control-wrap {
        margin-bottom: 15px; } }
  .b_form-light input[type="text"],
  .b_form-light input[type="email"],
  .b_form-light input[type="url"],
  .b_form-light input[type="password"],
  .b_form-light input[type="search"],
  .b_form-light input[type="number"],
  .b_form-light input[type="tel"],
  .b_form-light input[type="date"],
  .b_form-light input[type="month"],
  .b_form-light input[type="week"],
  .b_form-light input[type="time"],
  .b_form-light input[type="datetime"],
  .b_form-light input[type="datetime-local"],
  .b_form-light input[type="color"],
  .b_form-light textarea {
    border-color: #d0d0d0; }
  .b_form-light::-webkit-input-placeholder {
    color: #121212; }
  .b_form-light:-moz-placeholder {
    color: #121212; }
  .b_form-light::-moz-placeholder {
    color: #121212; }
  .b_form-light:-ms-input-placeholder {
    color: #121212; }

.b_footer .b_form {
  margin: 21px 0 38px; }
  @media (min-width: 768px) {
    .b_footer .b_form {
      margin-top: 7px; } }
  .b_footer .b_form input[type="text"],
  .b_footer .b_form input[type="email"],
  .b_footer .b_form input[type="url"],
  .b_footer .b_form input[type="password"],
  .b_footer .b_form input[type="search"],
  .b_footer .b_form input[type="number"],
  .b_footer .b_form input[type="tel"],
  .b_footer .b_form input[type="date"],
  .b_footer .b_form input[type="month"],
  .b_footer .b_form input[type="week"],
  .b_footer .b_form input[type="time"],
  .b_footer .b_form input[type="datetime"],
  .b_footer .b_form input[type="datetime-local"],
  .b_footer .b_form input[type="color"],
  .b_footer .b_form textarea {
    border-color: #c8a24d;
    color: #fff; }
    .b_footer .b_form input[type="text"]:hover, .b_footer .b_form input[type="text"]:focus,
    .b_footer .b_form input[type="email"]:hover,
    .b_footer .b_form input[type="email"]:focus,
    .b_footer .b_form input[type="url"]:hover,
    .b_footer .b_form input[type="url"]:focus,
    .b_footer .b_form input[type="password"]:hover,
    .b_footer .b_form input[type="password"]:focus,
    .b_footer .b_form input[type="search"]:hover,
    .b_footer .b_form input[type="search"]:focus,
    .b_footer .b_form input[type="number"]:hover,
    .b_footer .b_form input[type="number"]:focus,
    .b_footer .b_form input[type="tel"]:hover,
    .b_footer .b_form input[type="tel"]:focus,
    .b_footer .b_form input[type="date"]:hover,
    .b_footer .b_form input[type="date"]:focus,
    .b_footer .b_form input[type="month"]:hover,
    .b_footer .b_form input[type="month"]:focus,
    .b_footer .b_form input[type="week"]:hover,
    .b_footer .b_form input[type="week"]:focus,
    .b_footer .b_form input[type="time"]:hover,
    .b_footer .b_form input[type="time"]:focus,
    .b_footer .b_form input[type="datetime"]:hover,
    .b_footer .b_form input[type="datetime"]:focus,
    .b_footer .b_form input[type="datetime-local"]:hover,
    .b_footer .b_form input[type="datetime-local"]:focus,
    .b_footer .b_form input[type="color"]:hover,
    .b_footer .b_form input[type="color"]:focus,
    .b_footer .b_form textarea:hover,
    .b_footer .b_form textarea:focus {
      border-color: #121212;
      background-color: #121212; }
  .b_footer .b_form input[type="submit"],
  .b_footer .b_form button {
    color: #121212; }
    .b_footer .b_form input[type="submit"]:hover,
    .b_footer .b_form button:hover {
      color: #121212;
      background-color: #c8a24d; }
  @media (min-width: 768px) {
    .b_footer .b_form .wpcf7-form-control-wrap {
      width: -webkit-calc(100% - 140px);
      width: calc(100% - 140px); } }

.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .flex_center {
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }

/* Default Color Scheme */
a {
  color: #121212; }

a:hover, a:focus {
  color: #c8a24d; }

div.navigation span.current {
  color: #121212; }

div.navigation a:hover {
  color: #c8a24d; }

.sb-search .sb-icon-search:hover {
  color: #c8a24d; }

.wpzoom-media-widget .post_thumb_withbg:hover h3.title {
  color: #c8a24d; }

.section-footer .zoom-instagram-widget a.ig-b-v-24:hover {
  color: #c8a24d; }

.navbar-wpz > .current-menu-item > a, .navbar-wpz > .current_page_item > a {
  color: #121212;
  position: relative; }
  .navbar-wpz > .current-menu-item > a:before, .navbar-wpz > .current_page_item > a:before {
    content: '';
    position: absolute;
    bottom: 4px;
    height: 7px;
    background-color: rgba(200, 162, 77, 0.7);
    left: -8px;
    right: -8px; }

.navbar-nav .current-menu-item > a,
.navbar-nav .current_page_item > a,
.navbar-nav .current-menu-parent > a {
  color: #c8a24d; }

.navbar-wpz ul a:hover {
  color: #c8a24d; }

/* Top menu */
.top-navbar a:hover {
  color: #c8a24d; }

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  background-color: #121212;
  color: #fff; }
  button:hover,
  input[type="button"]:hover,
  input[type="reset"]:hover,
  input[type="submit"]:hover {
    background: #c8a24d;
    color: #fff; }

.slides li .slide_button a {
  background: #000;
  color: #fff; }
  .slides li .slide_button a:hover, .slides li .slide_button a:active {
    color: #c8a24d;
    background: #111; }

.slide-indigo .slides li h3 a {
  color: #fff; }
  .slide-indigo .slides li h3 a .cat-links a, .slide-indigo #slider .slides li h3 a .cat-links a, #slider .slide-indigo .slides li h3 a .cat-links a {
    color: #fff;
    background: #000; }
    .slide-indigo .slides li h3 a .cat-links a:hover, .slide-indigo #slider .slides li h3 a .cat-links a:hover, #slider .slide-indigo .slides li h3 a .cat-links a:hover {
      color: #c8a24d; }

.site-footer a:hover {
  color: #c8a24d; }

.site-footer input[type=button], .site-footer input[type=reset], .site-footer input[type=submit] {
  background: #c8a24d; }

.site-footer input[type=button]:hover, .site-footer input[type=reset]:hover, .site-footer input[type=submit]:hover {
  background: #121212; }

#sidebar .widget.widget_wysija .title {
  background: #c8a24d; }

.widget_wysija .wysija-submit {
  background: #c8a24d; }

.single .cat-links a:hover, .single #slider .slides li .cat-links a:hover, #slider .slides li .single .cat-links a:hover {
  color: #c8a24d; }

.readmore_button a:hover {
  color: #c8a24d; }

.infinite-scroll #infinite-handle span {
  background-color: #121516; }
  .infinite-scroll #infinite-handle span:hover {
    background: #c8a24d; }

.cat-links a:hover, #slider .slides li .cat-links a:hover {
  color: #c8a24d; }

.entry-content a {
  color: #c8a24d; }

.tag_list a:hover {
  color: #c8a24d; }

.author_links a:hover, .author_links a:active {
  color: #c8a24d; }

.author_links a:hover:before {
  color: #c8a24d; }

.zoom-twitter-widget a {
  color: #c8a24d; }

.zoom-twitter-widget a:hover {
  color: #121212; }

.zoom-twitter-widget time:hover {
  color: #121212; }

.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button {
  background: #121212; }

.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt {
  background: #121212; }

.woocommerce ul.products li.product h3:hover {
  color: #c8a24d; }

.woocommerce #respond input#submit:hover, .woocommerce a.button:hover, .woocommerce button.button:hover, .woocommerce input.button:hover {
  background: #c8a24d !important; }

.single #jp-relatedposts .jp-relatedposts-items-visual h4.jp-relatedposts-post-title a:hover {
  color: #c8a24d; }

.homepage {
  height: 100vh;
  background: #131313 url(../img/backgrounds/bg.jpg);
  -webkit-background-size: cover;
          background-size: cover;
  position: relative;
  font-family: "Lato", sans-serif; }
  .homepage #preloader {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-animation: preloader-gone 9s;
            animation: preloader-gone 9s; }
    .homepage #preloader img.b-n-w, .homepage #preloader img.gold {
      width: 90px;
      margin-bottom: 60px; }
    .homepage #preloader .progress-bar {
      display: block;
      height: 3px;
      width: 0; }
    .homepage #preloader .preloader-logo-wrapper {
      position: absolute;
      left: -webkit-calc(50% - 45px);
      left: calc(50% - 45px);
      bottom: -webkit-calc(50% + 3px);
      bottom: calc(50% + 3px);
      margin-bottom: -webkit-calc(-100.875px / 2);
      margin-bottom: calc(-100.875px / 2); }
      .homepage #preloader .preloader-logo-wrapper .logo {
        overflow: hidden;
        margin-top: 150px;
        -webkit-animation: logotype-wrapper 8s;
                animation: logotype-wrapper 8s;
        line-height: 0; }
        .homepage #preloader .preloader-logo-wrapper .logo img.gold {
          margin-bottom: -250px;
          -webkit-animation: logotype 8s;
                  animation: logotype 8s; }
      .homepage #preloader .preloader-logo-wrapper .progress-bar {
        display: block;
        position: absolute;
        left: -webkit-calc(50% - 1px);
        left: calc(50% - 1px);
        bottom: 0;
        background-color: black;
        width: 0;
        -webkit-animation: progress-bar 8s;
                animation: progress-bar 8s;
        margin-left: -1px;
        -webkit-animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
                animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1); }
        .homepage #preloader .preloader-logo-wrapper .progress-bar:after {
          display: block;
          content: ' ';
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
          background-color: #cba15a;
          -webkit-animation: progress 7s;
                  animation: progress 7s;
          -webkit-animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
                  animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1); }
    .homepage #preloader .left, .homepage #preloader .right {
      position: absolute;
      top: 0;
      bottom: 0;
      width: 0;
      height: 100%;
      background-color: #282828;
      overflow: hidden;
      -webkit-animation: animate-gone 4s;
              animation: animate-gone 4s;
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in; }
      .homepage #preloader .left .progress-bar, .homepage #preloader .right .progress-bar {
        visibility: hidden; }
      .homepage #preloader .left .logo, .homepage #preloader .right .logo {
        display: block;
        height: -webkit-max-content;
        height: -moz-max-content;
        height: max-content;
        width: -webkit-max-content;
        width: -moz-max-content;
        width: max-content;
        position: absolute;
        bottom: -webkit-calc(50% + 3px);
        bottom: calc(50% + 3px);
        margin-bottom: -webkit-calc(-100.875px / 2);
        margin-bottom: calc(-100.875px / 2); }
    .homepage #preloader .left {
      left: 0; }
      .homepage #preloader .left .logo {
        left: -webkit-calc(50vw - 45px);
        left: calc(50vw - 45px); }
    .homepage #preloader .right {
      right: 0; }
      .homepage #preloader .right .logo {
        right: -webkit-calc(50vw - 45px);
        right: calc(50vw - 45px); }
  .homepage #loader {
    opacity: 0;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1; }
    .homepage #loader.fade-in {
      -webkit-animation: fade-in .4s ease-in 1 forwards;
              animation: fade-in .4s ease-in 1 forwards; }
    .homepage #loader .logo {
      position: absolute;
      display: block;
      left: 0;
      right: 0;
      top: -webkit-calc(50% - 33vh / 2);
      top: calc(50% - 33vh / 2);
      height: 33vh;
      width: 100%; }
      .homepage #loader .logo img {
        height: 33vh; }
      .homepage #loader .logo .b-n-w-wrapper, .homepage #loader .logo .gold-wrapper {
        position: absolute;
        top: 0;
        bottom: 0;
        left: -webkit-calc(50% - 33vh * 0.89 / 2);
        left: calc(50% - 33vh * 0.89 / 2);
        width: -webkit-max-content;
        width: -moz-max-content;
        width: max-content; }
      .homepage #loader .logo .gold-wrapper {
        width: -webkit-max-content;
        width: -moz-max-content;
        width: max-content;
        overflow: hidden;
        -webkit-animation: ltr-main-logo 12s ease-in 1 forwards;
                animation: ltr-main-logo 12s ease-in 1 forwards; }
  .homepage #the-modal .modal-dialog {
    height: 444px;
    margin-top: -webkit-calc(50vh - 222px);
    margin-top: calc(50vh - 222px);
    width: 550px;
    max-width: 100%; }
    @media (max-width: 767px) {
      .homepage #the-modal .modal-dialog {
        width: initial;
        max-width: 290px;
        height: 434px;
        margin: -webkit-calc(50vh - 217px) auto;
        margin: calc(50vh - 217px) auto; } }
    @media (max-width: 767px) and (orientation: landscape) {
      .homepage #the-modal .modal-dialog {
        margin-top: initial;
        margin-bottom: initial; } }
    .homepage #the-modal .modal-dialog .modal-content {
      height: 100%;
      background: -webkit-gradient(linear, left top, left bottom, from(#c0a163), color-stop(25%, #e0c887), color-stop(50%, #e9d492), color-stop(75%, #e0c887), to(#c0a163));
      background: -webkit-linear-gradient(top, #c0a163 0%, #e0c887 25%, #e9d492 50%, #e0c887 75%, #c0a163 100%);
      background: -o-linear-gradient(top, #c0a163 0%, #e0c887 25%, #e9d492 50%, #e0c887 75%, #c0a163 100%);
      background: linear-gradient(to bottom, #c0a163 0%, #e0c887 25%, #e9d492 50%, #e0c887 75%, #c0a163 100%);
      padding: 10px;
      -webkit-border-radius: 0;
              border-radius: 0; }
      @media (max-width: 767px) {
        .homepage #the-modal .modal-dialog .modal-content {
          padding: 5px; } }
      .homepage #the-modal .modal-dialog .modal-content .modal-body {
        padding: 50px;
        height: 100%;
        width: 100%;
        background-color: #fdf9ee;
        text-align: center; }
        @media (max-width: 767px) {
          .homepage #the-modal .modal-dialog .modal-content .modal-body {
            padding: 40px 18px; } }
        .homepage #the-modal .modal-dialog .modal-content .modal-body h2 {
          font-size: 45px;
          line-height: .75;
          letter-spacing: .5px;
          word-spacing: 2px;
          font-weight: 900;
          margin-bottom: 33px; }
          @media (max-width: 767px) {
            .homepage #the-modal .modal-dialog .modal-content .modal-body h2 {
              font-size: 30px;
              margin-bottom: 24px; } }
        .homepage #the-modal .modal-dialog .modal-content .modal-body .border-top-bottom {
          font-size: 26px;
          line-height: 1.25;
          font-weight: 700;
          padding: 15px 0 12px;
          margin-bottom: 26px;
          border-top: 1px solid grey;
          border-bottom: 1px solid grey;
          width: 100%; }
          @media (max-width: 767px) {
            .homepage #the-modal .modal-dialog .modal-content .modal-body .border-top-bottom {
              font-size: 18px;
              padding: 19px 0;
              margin-bottom: 18px;
              line-height: 1.22; } }
        .homepage #the-modal .modal-dialog .modal-content .modal-body p {
          font-size: 20px;
          line-height: 1.45;
          font-weight: 400;
          text-transform: uppercase;
          letter-spacing: -.02px;
          margin-bottom: 28px; }
          @media (max-width: 767px) {
            .homepage #the-modal .modal-dialog .modal-content .modal-body p {
              font-size: 16px;
              line-height: 1.4;
              margin-bottom: 20px;
              letter-spacing: .4px; } }
        .homepage #the-modal .modal-dialog .modal-content .modal-body form {
          height: 50px;
          width: 100%; }
          @media (max-width: 767px) {
            .homepage #the-modal .modal-dialog .modal-content .modal-body form {
              height: auto; } }
          .homepage #the-modal .modal-dialog .modal-content .modal-body form input {
            width: -webkit-calc(100% - 130px);
            width: calc(100% - 130px);
            height: 100%;
            margin-right: -4px;
            background-color: transparent;
            border: 1px solid black;
            padding: 0 20px;
            vertical-align: top;
            -webkit-border-radius: 0;
                    border-radius: 0;
            font-size: 20px;
            line-height: 60px; }
            @media (max-width: 767px) {
              .homepage #the-modal .modal-dialog .modal-content .modal-body form input {
                width: 100%;
                margin-right: 0;
                height: 45px;
                margin-bottom: 20px;
                padding: 0 23px;
                font-size: 16px;
                line-height: 45px; } }
          .homepage #the-modal .modal-dialog .modal-content .modal-body form button {
            height: 100%;
            width: 130px;
            border: 1px solid black;
            background-color: black;
            color: #fdf9ee;
            font-weight: 700;
            vertical-align: top;
            font-size: 20px;
            -webkit-border-radius: 0;
                    border-radius: 0; }
            @media (max-width: 767px) {
              .homepage #the-modal .modal-dialog .modal-content .modal-body form button {
                width: auto;
                padding: 0 20px;
                height: 45px;
                font-size: 16px; } }

.b_header .inner-wrap {
  position: static; }

.b_header_video {
  height: 160px;
  display: none; }
  @media (min-width: 768px) {
    .b_header_video {
      display: block; } }

.b_header_navbar {
  position: initial;
  padding: 6px 0 8px;
  background-color: #fff;
  -webkit-box-shadow: 0 1px 0 0 rgba(18, 18, 18, 0.19);
          box-shadow: 0 1px 0 0 rgba(18, 18, 18, 0.19); }
  @media (min-width: 992px) {
    .b_header_navbar {
      padding: 24px 0 29px; } }
  .b_header_navbar .navbar-wpz li {
    padding: 0 18px;
    top: 3px; }
  .b_header_navbar .navbar-wpz a {
    color: #121212;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    letter-spacing: 2.2px;
    padding: 0;
    font-size: 1.8rem; }
    .b_header_navbar .navbar-wpz a:hover {
      color: #c8a24d; }

.b_header_navbartop {
  display: none; }
  @media (min-width: 992px) {
    .b_header_navbartop {
      display: block; } }

.b_header_navbarmobile .slicknav_menutxt {
  display: none; }

.b_header_brand {
  display: none; }
  @media (min-width: 992px) {
    .b_header_brand {
      margin-right: 34px;
      display: block; } }
  .b_header_brand .custom-logo-link {
    display: block; }
    @media (max-width: 992px) {
      .b_header_brand .custom-logo-link {
        width: 28px;
        height: 36px;
        background: url("../img/logo-mobile.png") no-repeat center center;
        -webkit-background-size: contain;
                background-size: contain;
        overflow: hidden; }
        .b_header_brand .custom-logo-link img {
          display: none; } }
  .b_header_brand img {
    width: 209px; }

.b_header_flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.b_header-left, .b_header-right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.b_header-mobile {
  display: none; }
  @media (max-width: 992px) {
    .b_header-mobile {
      display: block; } }
  .b_header-mobile .b_header_brand {
    display: block; }

.b_header .slicknav_nav {
  position: absolute;
  top: 64px;
  left: 0;
  right: 0; }
  .b_header .slicknav_nav ul {
    background-color: #121212;
    margin-bottom: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 41px 30px;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around; }
    .b_header .slicknav_nav ul li {
      margin: 0;
      border: none; }
    .b_header .slicknav_nav ul a {
      color: #fff;
      font-size: 1.8rem;
      font-weight: 400;
      margin: 0; }

.b_header .sb-search {
  height: 28px;
  min-width: 20px;
  width: 20px; }
  .b_header .sb-search.sb-search-open .sb-icon-search:before {
    line-height: 24px;
    color: inherit;
    font-size: 28px; }
  .b_header .sb-search.sb-search-open .sb-search-input {
    width: 230px;
    border-bottom: 1px solid rgba(18, 18, 18, 0.2);
    padding: 0 20px 8px 0; }

.b_header .sb-search-submit,
.b_header .sb-search-input {
  height: 28px; }
  .b_header .sb-search-submit::-webkit-input-placeholder,
  .b_header .sb-search-input::-webkit-input-placeholder {
    letter-spacing: 2.52px;
    color: #8d897e; }
  .b_header .sb-search-submit:-moz-placeholder,
  .b_header .sb-search-input:-moz-placeholder {
    letter-spacing: 2.52px;
    color: #8d897e; }
  .b_header .sb-search-submit::-moz-placeholder,
  .b_header .sb-search-input::-moz-placeholder {
    letter-spacing: 2.52px;
    color: #8d897e; }
  .b_header .sb-search-submit:-ms-input-placeholder,
  .b_header .sb-search-input:-ms-input-placeholder {
    letter-spacing: 2.52px;
    color: #8d897e; }

.b_header .sb-icon-search {
  color: #121212;
  font-size: 20px;
  width: 20px;
  height: 28px;
  line-height: 28px; }

.b_header .header_social {
  border-right: 1px solid rgba(18, 18, 18, 0.11);
  padding-right: 30px;
  display: none;
  margin-right: 20px; }
  @media (min-width: 992px) {
    .b_header .header_social {
      display: block; } }
  .b_header .header_social .zoom-social_icons-list__item {
    margin: 0; }
    .b_header .header_social .zoom-social_icons-list__item .socicon {
      padding: 0 6px; }

.b_footer-widgets {
  padding: 38px 0 34px; }
  @media (min-width: 768px) {
    .b_footer-widgets {
      padding: 65px 0 34px; } }
  @media (max-width: 768px) {
    .b_footer-widgets .b_footer-col {
      text-align: center; } }
  .b_footer-widgets .b_footer-col:nth-child(1):nth-last-child(4) {
    margin-right: 0;
    display: none; }
    @media (min-width: 992px) {
      .b_footer-widgets .b_footer-col:nth-child(1):nth-last-child(4) {
        display: inline-block;
        width: 17%; } }
  .b_footer-widgets .b_footer-col:nth-child(2):nth-last-child(3), .b_footer-widgets .b_footer-col:nth-child(3):nth-last-child(2) {
    margin-right: 0; }
    @media (min-width: 768px) {
      .b_footer-widgets .b_footer-col:nth-child(2):nth-last-child(3), .b_footer-widgets .b_footer-col:nth-child(3):nth-last-child(2) {
        width: 25.6%; } }
  .b_footer-widgets .b_footer-col:nth-child(4):nth-last-child(1) {
    margin-right: 0; }
    @media (min-width: 768px) {
      .b_footer-widgets .b_footer-col:nth-child(4):nth-last-child(1) {
        width: 31.8%; } }

.b_footer .menu li {
  margin-bottom: 18px; }
  @media (min-width: 768px) {
    .b_footer .menu li {
      margin-bottom: 30px; } }

.b_footer .menu a {
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.8);
  letter-spacing: 1.7px; }
  .b_footer .menu a:hover {
    color: #c8a24d; }

.b_footer .widget {
  margin-bottom: 0; }
  .b_footer .widget .zoom-social-icons-list--no-labels.zoom-social-icons-list--without-canvas {
    margin-left: 0;
    margin-top: 10px; }
  .b_footer .widget .zoom-social_icons-list__item {
    margin: 0px 8px 0 0; }
    .b_footer .widget .zoom-social_icons-list__item span {
      padding: 0;
      -webkit-transition: all .3s;
      -o-transition: all .3s;
      transition: all .3s; }
      @media (max-width: 768px) {
        .b_footer .widget .zoom-social_icons-list__item span {
          font-size: 26px !important;
          margin: 0 11px; } }

.banner h1, .banner .h1, .banner h2, .banner .h2, .banner h3, .banner .h3, .banner h4, .banner .h4 {
  margin: 0;
  color: #fff;
  letter-spacing: 2.15px; }

.banner-top {
  padding: 51.5px 15px; }
  @media (min-width: 768px) {
    .banner-top {
      padding: 59.5px 15px; } }

.banner-slide .sa_hover_container > h1, .banner-slide .sa_hover_container .h1, .banner-slide .sa_hover_container p, .banner-slide .sa_hover_container div {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  letter-spacing: 1px; }
  @media (min-width: 992px) {
    .banner-slide .sa_hover_container > h1, .banner-slide .sa_hover_container .h1, .banner-slide .sa_hover_container p, .banner-slide .sa_hover_container div {
      padding-right: 15%; } }

.banner-slide .sa_hover_container > h1, .banner-slide .sa_hover_container .h1 {
  line-height: 61px; }

.banner-slide .owl-stage-outer {
  height: 353px;
  overflow: hidden; }

.banner-slide .sa_owl_theme .owl-dots {
  counter-reset: slides-num;
  position: absolute;
  top: 72px;
  max-width: 1200px;
  margin: 0 auto;
  left: 0;
  right: 0;
  text-align: left !important;
  padding: 0 15px !important;
  color: #c8a24d;
  bottom: auto !important; }
  .banner-slide .sa_owl_theme .owl-dots:after {
    content: counter(slides-num);
    display: inline-block;
    padding-left: 13px; }
  .banner-slide .sa_owl_theme .owl-dots:before {
    content: 'DEDICATION TO EMPOWERMENT';
    position: absolute;
    left: 45px;
    color: #fff;
    letter-spacing: 2px; }
  .banner-slide .sa_owl_theme .owl-dots .owl-dot {
    counter-increment: slides-num;
    position: absolute;
    display: block;
    padding-bottom: 20px; }
    .banner-slide .sa_owl_theme .owl-dots .owl-dot:after {
      content: '';
      height: 1px;
      width: 72px;
      background-color: rgba(255, 255, 255, 0.2);
      bottom: -15px;
      position: absolute; }
    .banner-slide .sa_owl_theme .owl-dots .owl-dot span {
      display: none !important; }
    .banner-slide .sa_owl_theme .owl-dots .owl-dot.active:before {
      content: counter(slides-num) "/";
      display: inline-block;
      vertical-align: middle;
      position: absolute; }

.cat-links, #slider .slides li .cat-links {
  margin: 0 0 10px; }
  .cat-links a, #slider .slides li .cat-links a {
    font-size: 1.2rem;
    color: #c8a24d;
    background: none;
    padding: 0 0 20px;
    position: relative;
    margin: 0; }
    .cat-links a:before, #slider .slides li .cat-links a:before {
      content: '';
      position: absolute;
      width: 70px;
      height: 1px;
      background: rgba(18, 18, 18, 0.2);
      bottom: 0;
      left: 0; }

.post-title a,
.entry-title a,
.cat-links a, #slider .slides li .cat-links a {
  border: none; }

.post .post-thumb {
  margin-right: 8%;
  width: 100%;
  height: 221px;
  max-width: 100%; }
  @media screen and (min-width: 1024px) {
    .post .post-thumb {
      width: 444px;
      height: 339px; } }
  .post .post-thumb a {
    display: block;
    width: inherit;
    max-width: 100%;
    height: inherit;
    border: none;
    overflow: hidden; }
    .post .post-thumb a:hover img {
      -webkit-transform: scale(1.2);
          -ms-transform: scale(1.2);
              transform: scale(1.2); }
    .post .post-thumb a img {
      width: 100%;
      height: 100%;
      -webkit-transition: all .5s;
      -o-transition: all .5s;
      transition: all .5s;
      -o-object-fit: cover;
         object-fit: cover; }

.post .post-title {
  line-height: 4rem;
  margin-bottom: 8px; }

.post .cat-links, .post #slider .slides li .cat-links, #slider .slides li .post .cat-links {
  margin-top: 25px; }
  @media (min-width: 768px) {
    .post .cat-links, .post #slider .slides li .cat-links, #slider .slides li .post .cat-links {
      margin-top: 0; } }
  .post .cat-links a, .post #slider .slides li .cat-links a, #slider .slides li .post .cat-links a {
    font-size: 1.4rem;
    font-weight: 700; }

.post .post-inner {
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid rgba(18, 18, 18, 0.1); }
  @media (min-width: 768px) {
    .post .post-inner {
      margin-bottom: 53px;
      padding: 0;
      border: none; } }

@media (min-width: 768px) {
  .post .post-col-right {
    padding-left: 14px; } }

.popular-views_child {
  position: relative; }
  @media (min-width: 768px) {
    .popular-views_child {
      height: 385px; } }

.widget .gd_pp {
  margin-left: -15px;
  margin-right: -15px; }

@media (max-width: 768px) {
  .widget ul.gd_pp li {
    margin-bottom: 20px; } }

@media (min-width: 768px) {
  .gd_pp {
    position: absolute;
    top: 0;
    left: 0;
    right: 0; } }

.gd_pp_wrapper {
  cursor: default;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  background-color: #fff; }
  @media (min-width: 992px) {
    .gd_pp_wrapper:hover {
      border: 8px solid #c8a24d;
      -webkit-box-shadow: 0 20px 51px 0 #8e7233;
              box-shadow: 0 20px 51px 0 #8e7233;
      margin: -25px -8px 0 -8px; }
      .gd_pp_wrapper:hover .gd_pp_content-in {
        height: 160px;
        margin-bottom: 60px; }
      .gd_pp_wrapper:hover .gd_pp_button {
        -webkit-transform: scale(1);
            -ms-transform: scale(1);
                transform: scale(1);
        height: auto; }
      .gd_pp_wrapper:hover .gd_pp_content-in, .gd_pp_wrapper:hover .gd_pp_button {
        opacity: 1; }
      .gd_pp_wrapper:hover .gd_pp_content {
        padding: 30px 16px 14px; }
      .gd_pp_wrapper:hover .gd_pp_image {
        height: 0; }
      .gd_pp_wrapper:hover .post-meta {
        display: none; } }

.gd_pp_col {
  padding: 0 15px; }
  @media screen and (max-width: 1024px) {
    .gd_pp_col:last-child {
      display: none; } }

.gd_pp_image {
  height: 230px;
  overflow: hidden;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s; }
  @media (max-width: 768px) {
    .gd_pp_image {
      height: 250px; } }
  .gd_pp_image img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover; }

.gd_pp_content {
  padding: 16px;
  border: 1px solid rgba(151, 151, 151, 0.21);
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s; }
  .gd_pp_content-in {
    opacity: 0;
    height: 0;
    overflow: hidden;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s; }

.gd_pp_title {
  margin: 1px 0 4px; }
  @media (max-width: 768px) {
    .gd_pp_title {
      line-height: 1.5; } }
  .gd_pp_title a {
    display: block;
    height: 63px;
    overflow: hidden; }
    @media (min-width: 768px) {
      .gd_pp_title a {
        height: 70px; } }

.gd_pp_button {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  opacity: 0;
  height: 0;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s; }
  .gd_pp_button a {
    width: 100%;
    font-weight: 400;
    position: relative; }
    .gd_pp_button a:hover:before {
      color: #121212; }
    .gd_pp_button a:before {
      content: "\f178";
      font: normal normal normal 21px/1 FontAwesome;
      position: absolute;
      top: 50%;
      margin-top: -10.5px;
      right: 15px;
      color: #c8a24d;
      -webkit-transition: all .3s;
      -o-transition: all .3s;
      transition: all .3s; }

.gd_pp .post-meta {
  display: block;
  font-size: 1.4rem;
  color: #b1afa8; }

.gd_pp .cat-links, .gd_pp #slider .slides li .cat-links, #slider .slides li .gd_pp .cat-links {
  margin: 0;
  padding: 0; }
  .gd_pp .cat-links a, .gd_pp #slider .slides li .cat-links a, #slider .slides li .gd_pp .cat-links a {
    padding: 0; }
    .gd_pp .cat-links a:before, .gd_pp #slider .slides li .cat-links a:before, #slider .slides li .gd_pp .cat-links a:before {
      display: none; }

.btn, .readmore_button a, #slider .slides li .slide_button a {
  padding: 13px 27.5px;
  text-transform: uppercase;
  -webkit-border-radius: 0;
          border-radius: 0;
  font-size: 1.6rem;
  text-align: center;
  letter-spacing: 2px;
  background-color: #121212;
  font-family: "latoregular", "Lato", sans-serif; }
  .btn:hover, .readmore_button a:hover, #slider .slides li .slide_button a:hover {
    background-color: #c8a24d;
    color: #fff; }
  .btn:focus, .readmore_button a:focus, #slider .slides li .slide_button a:focus, .btn:active, .readmore_button a:active, #slider .slides li .slide_button a:active {
    background-color: #121212;
    color: #fff; }
  @media (max-width: 767px) {
    .btn, .readmore_button a, #slider .slides li .slide_button a {
      width: 100%;
      display: block; } }

.infinite-scroll #infinite-handle span {
  background-color: transparent;
  display: inline-block;
  color: #121212;
  width: auto;
  line-height: 60px; }
  .infinite-scroll #infinite-handle span button {
    font-family: "latoregular", "Lato", sans-serif !important;
    position: relative;
    letter-spacing: 2px; }
    .infinite-scroll #infinite-handle span button:before {
      content: "\f175";
      font: normal normal normal 21px/1 FontAwesome;
      color: #121212;
      position: absolute;
      left: 0;
      right: 0;
      bottom: -15px; }
  .infinite-scroll #infinite-handle span:hover {
    background-color: transparent;
    color: #c8a24d; }
    .infinite-scroll #infinite-handle span:hover:before {
      color: #121212; }

#slider {
  background: #f0f0f0 url("../img/backgrounds/slider_bg.png") no-repeat center center;
  -webkit-background-size: cover;
          background-size: cover;
  background-attachment: fixed;
  height: 582px; }
  @media screen and (max-width: 640px) {
    #slider {
      height: 484px !important; } }
  #slider .slide {
    height: 582px; }
    @media screen and (max-width: 640px) {
      #slider .slide {
        height: 484px !important; } }
    #slider .slide-background {
      display: none; }
    #slider .slide-overlay {
      background: none; }
  #slider .flickity-viewport {
    height: inherit !important; }
  #slider .slides {
    max-width: 1200px;
    margin: 0 auto;
    height: inherit; }
    #slider .slides li .slide-header {
      text-align: left;
      max-width: 650px;
      margin-left: 0;
      top: 50%; }
      @media screen and (min-width: 1241px) {
        #slider .slides li .slide-header {
          margin-top: -45px; } }
      @media screen and (max-width: 640px) {
        #slider .slides li .slide-header {
          width: 100%;
          top: 40%; } }
      #slider .slides li .slide-header h1, #slider .slides li .slide-header .h1 {
        margin-top: 17px;
        margin-bottom: 17px; }
        #slider .slides li .slide-header h1 a, #slider .slides li .slide-header .h1 a {
          display: block;
          max-height: 56px;
          overflow: hidden; }
          @media screen and (min-width: 640px) {
            #slider .slides li .slide-header h1 a, #slider .slides li .slide-header .h1 a {
              max-height: 45px;
              white-space: nowrap;
              -o-text-overflow: ellipsis;
                 text-overflow: ellipsis; } }
      #slider .slides li .slide-header p {
        font-size: 1.8rem;
        color: #121212;
        max-height: 50px;
        overflow: hidden; }
        @media screen and (max-width: 640px) {
          #slider .slides li .slide-header p {
            display: block;
            max-height: 130px;
            font-size: 1.6rem; } }
    #slider .slides li .cat-links {
      margin-bottom: 20px; }
    #slider .slides li .slide_button {
      text-align: center;
      margin-top: 20px; }
      @media screen and (min-width: 640px) {
        #slider .slides li .slide_button {
          text-align: left;
          margin-top: 35px; } }
  #slider .flickity-page-dots {
    left: 0;
    right: 0;
    text-align: center;
    padding-right: 15px;
    padding-left: 15px;
    bottom: 88px; }
    @media screen and (min-width: 1241px) {
      #slider .flickity-page-dots {
        bottom: 159px; } }
    @media screen and (min-width: 640px) {
      #slider .flickity-page-dots {
        text-align: left;
        bottom: 94px; } }
    #slider .flickity-page-dots .dot {
      width: 8px;
      height: 8px;
      background-color: rgba(28, 28, 28, 0.12);
      -webkit-border-radius: 0;
              border-radius: 0;
      opacity: 1; }
      #slider .flickity-page-dots .dot:first-child {
        margin-left: 0; }
      #slider .flickity-page-dots .dot.is-selected {
        background-color: #1c1c1c; }
  #slider .flickity-prev-next-button {
    width: 48px;
    height: 48px;
    bottom: 100px;
    top: auto;
    background-color: rgba(28, 28, 28, 0.07);
    font: normal normal normal 21px/1 FontAwesome; }
    #slider .flickity-prev-next-button:hover {
      background-color: #c8a24d; }
      #slider .flickity-prev-next-button:hover:before {
        color: #fff; }
    @media (max-width: 768px) {
      #slider .flickity-prev-next-button {
        display: none; } }
    @media screen and (min-width: 1241px) {
      #slider .flickity-prev-next-button {
        bottom: 188px; } }
    #slider .flickity-prev-next-button:before {
      color: #1c1c1c;
      -webkit-transition: all .3s;
      -o-transition: all .3s;
      transition: all .3s; }
    #slider .flickity-prev-next-button.previous {
      right: 79px;
      left: auto; }
      #slider .flickity-prev-next-button.previous:before {
        content: "\f177"; }
    #slider .flickity-prev-next-button.next {
      right: 15px; }
      #slider .flickity-prev-next-button.next:before {
        content: "\f178"; }
    #slider .flickity-prev-next-button svg {
      display: none; }

.cat-links, #slider .slides li .cat-links {
  margin: 0 0 10px; }
  .cat-links a, #slider .slides li .cat-links a {
    font-size: 1.2rem;
    color: #c8a24d;
    background: none;
    padding: 0 0 20px;
    position: relative;
    margin: 0; }
    .cat-links a:before, #slider .slides li .cat-links a:before {
      content: '';
      position: absolute;
      width: 70px;
      height: 1px;
      background: rgba(18, 18, 18, 0.2);
      bottom: 0;
      left: 0; }

.post-title a,
.entry-title a,
.cat-links a, #slider .slides li .cat-links a {
  border: none; }

.post .post-thumb {
  margin-right: 8%;
  width: 100%;
  height: 221px;
  max-width: 100%; }
  @media screen and (min-width: 1024px) {
    .post .post-thumb {
      width: 444px;
      height: 339px; } }
  .post .post-thumb a {
    display: block;
    width: inherit;
    max-width: 100%;
    height: inherit;
    border: none;
    overflow: hidden; }
    .post .post-thumb a:hover img {
      -webkit-transform: scale(1.2);
          -ms-transform: scale(1.2);
              transform: scale(1.2); }
    .post .post-thumb a img {
      width: 100%;
      height: 100%;
      -webkit-transition: all .5s;
      -o-transition: all .5s;
      transition: all .5s;
      -o-object-fit: cover;
         object-fit: cover; }

.post .post-title {
  line-height: 4rem;
  margin-bottom: 8px; }

.post .cat-links, .post #slider .slides li .cat-links, #slider .slides li .post .cat-links {
  margin-top: 25px; }
  @media (min-width: 768px) {
    .post .cat-links, .post #slider .slides li .cat-links, #slider .slides li .post .cat-links {
      margin-top: 0; } }
  .post .cat-links a, .post #slider .slides li .cat-links a, #slider .slides li .post .cat-links a {
    font-size: 1.4rem;
    font-weight: 700; }

.post .post-inner {
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid rgba(18, 18, 18, 0.1); }
  @media (min-width: 768px) {
    .post .post-inner {
      margin-bottom: 53px;
      padding: 0;
      border: none; } }

@media (min-width: 768px) {
  .post .post-col-right {
    padding-left: 14px; } }

.popular-views_child {
  position: relative; }
  @media (min-width: 768px) {
    .popular-views_child {
      height: 385px; } }

.widget .gd_pp {
  margin-left: -15px;
  margin-right: -15px; }

@media (max-width: 768px) {
  .widget ul.gd_pp li {
    margin-bottom: 20px; } }

@media (min-width: 768px) {
  .gd_pp {
    position: absolute;
    top: 0;
    left: 0;
    right: 0; } }

.gd_pp_wrapper {
  cursor: default;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  background-color: #fff; }
  @media (min-width: 992px) {
    .gd_pp_wrapper:hover {
      border: 8px solid #c8a24d;
      -webkit-box-shadow: 0 20px 51px 0 #8e7233;
              box-shadow: 0 20px 51px 0 #8e7233;
      margin: -25px -8px 0 -8px; }
      .gd_pp_wrapper:hover .gd_pp_content-in {
        height: 160px;
        margin-bottom: 60px; }
      .gd_pp_wrapper:hover .gd_pp_button {
        -webkit-transform: scale(1);
            -ms-transform: scale(1);
                transform: scale(1);
        height: auto; }
      .gd_pp_wrapper:hover .gd_pp_content-in, .gd_pp_wrapper:hover .gd_pp_button {
        opacity: 1; }
      .gd_pp_wrapper:hover .gd_pp_content {
        padding: 30px 16px 14px; }
      .gd_pp_wrapper:hover .gd_pp_image {
        height: 0; }
      .gd_pp_wrapper:hover .post-meta {
        display: none; } }

.gd_pp_col {
  padding: 0 15px; }
  @media screen and (max-width: 1024px) {
    .gd_pp_col:last-child {
      display: none; } }

.gd_pp_image {
  height: 230px;
  overflow: hidden;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s; }
  @media (max-width: 768px) {
    .gd_pp_image {
      height: 250px; } }
  .gd_pp_image img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover; }

.gd_pp_content {
  padding: 16px;
  border: 1px solid rgba(151, 151, 151, 0.21);
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s; }
  .gd_pp_content-in {
    opacity: 0;
    height: 0;
    overflow: hidden;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s; }

.gd_pp_title {
  margin: 1px 0 4px; }
  @media (max-width: 768px) {
    .gd_pp_title {
      line-height: 1.5; } }
  .gd_pp_title a {
    display: block;
    height: 63px;
    overflow: hidden; }
    @media (min-width: 768px) {
      .gd_pp_title a {
        height: 70px; } }

.gd_pp_button {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  opacity: 0;
  height: 0;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s; }
  .gd_pp_button a {
    width: 100%;
    font-weight: 400;
    position: relative; }
    .gd_pp_button a:hover:before {
      color: #121212; }
    .gd_pp_button a:before {
      content: "\f178";
      font: normal normal normal 21px/1 FontAwesome;
      position: absolute;
      top: 50%;
      margin-top: -10.5px;
      right: 15px;
      color: #c8a24d;
      -webkit-transition: all .3s;
      -o-transition: all .3s;
      transition: all .3s; }

.gd_pp .post-meta {
  display: block;
  font-size: 1.4rem;
  color: #b1afa8; }

.gd_pp .cat-links, .gd_pp #slider .slides li .cat-links, #slider .slides li .gd_pp .cat-links {
  margin: 0;
  padding: 0; }
  .gd_pp .cat-links a, .gd_pp #slider .slides li .cat-links a, #slider .slides li .gd_pp .cat-links a {
    padding: 0; }
    .gd_pp .cat-links a:before, .gd_pp #slider .slides li .cat-links a:before, #slider .slides li .gd_pp .cat-links a:before {
      display: none; }

.section-title {
  margin-bottom: 52px;
  text-transform: initial; }
  @media (max-width: 768px) {
    .section-title {
      font-size: 2.6rem !important;
      padding-bottom: 12px; } }

.page-content {
  padding: 68px 0; }

.page-subtitle {
  color: #c8a24d;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(18, 18, 18, 0.2);
  font-family: "latoblack", "Lato", sans-serif;
  margin-bottom: 20px;
  letter-spacing: 2px; }

.page-quote {
  color: #c8a24d;
  font-size: 1.7rem;
  max-width: 500px;
  font-style: italic;
  font-weight: 700;
  position: relative;
  margin-top: 30px; }
  .page-quote:before, .page-quote:after {
    content: '';
    position: absolute;
    width: 33px;
    height: 33px; }
  .page-quote:before {
    left: -50px;
    top: 0;
    background: url("../img/icons/quote-left.png") no-repeat center center;
    -webkit-background-size: cover;
            background-size: cover; }
  .page-quote:after {
    right: -10px;
    bottom: 0;
    background: url("../img/icons/quote-right.png") no-repeat center center;
    -webkit-background-size: cover;
            background-size: cover; }

.home-widgetized-sections {
  margin-top: -100px; }
  @media (min-width: 768px) {
    .home-widgetized-sections {
      margin-top: -95px; } }
  .home-widgetized-sections .widget {
    margin-bottom: 13px; }
    @media (min-width: 768px) {
      .home-widgetized-sections .widget {
        margin-bottom: 82px; } }
  .home-widgetized-sections:after {
    display: none; }

.home_news_title {
  font-family: "latobold", "Lato", sans-serif;
  border: none;
  position: relative; }
  .home_news_title:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    width: 200%;
    background-color: rgba(18, 18, 18, 0.2); }

.story_slider {
  height: 353px; }

.footer-top.subscribe {
  padding: 60px 0; }
  .footer-top.subscribe h1, .footer-top.subscribe .h1, .footer-top.subscribe h2, .footer-top.subscribe .h2 {
    margin: 0; }
