/* Galleries */

.entry-content .gallery a:hover {
  opacity: 0.6;
  transition: opacity 0.25s ease-in-out;
}

.gallery-item {
  display: inline-block;
  max-width: 33.33%;
  padding: 0 1.1400652% 2.2801304%;
  text-align: center;
  vertical-align: top;
  width: 100%;
  margin: 0;
}

.gallery-columns-1 .gallery-item {
  max-width: 100%;
}

.gallery-columns-2 .gallery-item {
  max-width: 50%;
}

.gallery-columns-4 .gallery-item {
  max-width: 25%;
}

.gallery-columns-5 .gallery-item {
  max-width: 20%;
}

.gallery-columns-6 .gallery-item {
  max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
  max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
  max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
  max-width: 11.11%;
}

.gallery-icon img {
  margin: 0 auto;
}

.wp-caption-text, .gallery-caption {
  color: #868686;
  margin: 0;
  padding: 15px 0;
  text-align: center;
  display: block;
  font-style: italic;
  line-height: 1.4;
}

.gallery-columns-6 .gallery-caption, .gallery-columns-7 .gallery-caption, .gallery-columns-8 .gallery-caption, .gallery-columns-9 .gallery-caption {
  display: none;
}

/* Images align */

.entry-content {

  .wp-caption {
    max-width: 100% !important;
    width: auto;
    text-align: center;
    img {
      background: none;
      margin: 0;
      border: 0 none;
      max-width: 100%;
      width: auto;
      height: auto;
    }
    &.aligncenter {
      margin: 0 auto 15px;
    }
  }
}

/* Caption for images */