// Color themes
// default gold: #c8a24d;

$primary_color: #c8a24d !default;
$primary_bg: #F8F1E3 !default;
$alt_color: #121212 !default;
$alt_color2: #1c1c1c;
$alt_text: #a5a7ad !default;
$shadow_color: #8e7233;

$form_placeholder: #8d897e !default;

// Background
$color__background-footer: #121516 !default;
$color__background-body: #fff !default;

// Buttons
$color__background-button: $alt_color !default;
$color__background-button-hover: $primary_color !default;

$color__button: #fff;
$color__button-hover: #fff;

// Fonts
$color__header-font: #121212 !default;
$color__font: #121212 !default;
$color__font-light: #4d4d4d !default;

// Forms
$color__form-light: #d0d0d0;

// Misc.
$color__text-input: #121212;
$color__link: #121212 !default;
$color__link-visited: $primary_color;
$color__link-hover: $primary_color;

$color__background-button-infinite-hover: $primary_color !default;

// modal + preloader colors
$almost-black: #131313
$dark-gray: #282828
$gold: #cba15a
$milkey: #fdf9ee

// gray
$gray1: #979797
$gray2: #b1afa8